@mixin photo-prefer-480 {
    /*PHOTO PREFER*/

}

@mixin photo-prefer-640 {
    /*PHOTO PREFER*/

}

@mixin photo-prefer-768 {
    /*PHOTO PREFER*/

}

@mixin photo-prefer-1024 {
    /*PHOTO PREFER*/
    .photo_prefer {
        margin-bottom: 120px;
    }


}

@mixin photo-prefer-1190 {
    /*PHOTO PREFER*/
    .photo_prefer {
        margin-bottom: 200px;
    }

    .photo_prefer .headline_2 {
        text-align: center;
        margin-bottom: 130px;
    }

    .mobile_info {
        display: none;
    }

    .plus_icon {
        cursor: unset;
        width: 24px;
        height: 24px;
        z-index: 2;
    }

    .plus_icon::before {
        width: 40px;
        height: 40px;
        transition: 0.3s;
    }

    .fireplace_prefer:hover .plus_icon::before {
        animation: 0.3s linear puls_anim;
    }

    @keyframes puls_anim {
        0% {
            width: 40px;
            height: 40px;
        }
        50% {
            width: 45px;
            height: 45px;
        }
        100% {
            width: 40px;
            height: 40px;
        }
    }

    .plus_icon .icon {
        display: none;
    }

    .popup_prefer {
        transform: none;
        width: 260px;
        box-shadow: none;
        padding: 0 0 10px 0;
        border-radius: 0;
        background-color: transparent;
        border-bottom: 1px solid var(--main-color-5);
        opacity: 1;
        z-index: 1;
        visibility: visible;
        transition: 0.3s;
    }

    .popup_prefer:hover {
        border-color: var(--main-color-1);
    }

    .popup_prefer::before {
        display: none;
    }

    .popup_prefer::after {
        content: "";
        height: 1px;
        background-color: var(--main-color-5);
        position: absolute;
        bottom: -1px;
        transition: 0.3s;
    }

    .popup_prefer:hover::after {
        background-color: var(--main-color-1);
    }

    .fireplace_prefer.deck-left .popup_prefer::after {
        right: 100%;
        transform-origin: right;
    }


    .fireplace_prefer.deck-right .popup_prefer::after {
        left: 100%;
        transform-origin: left;
    }

    .fireplace_prefer:nth-child(2) .popup_prefer::after {
        width: 192px;
        transform: rotate(16deg);
    }

    .fireplace_prefer:nth-child(3) .popup_prefer::after {
        width: 197px;
        transform: rotate(1deg);
    }

    .fireplace_prefer:nth-child(4) .popup_prefer::after {
        width: 182px;
        transform: rotate(26deg);
    }

    .fireplace_prefer:nth-child(5) .popup_prefer::after {
        width: 142px;
        transform: rotate(14deg);
    }

    .fireplace_prefer:nth-child(6) .popup_prefer::after {
        width: 132px;
        transform: rotate(-5deg);
    }

    .fireplace_prefer:nth-child(7) .popup_prefer::after {
        width: 192px;
        transform: rotate(7deg);
    }

    .fireplace_prefer:nth-child(8) .popup_prefer::after {
        width: 167px;
        transform: rotate(-77deg);
    }

    .fireplace_prefer:nth-child(9) .popup_prefer::after {
        width: 135px;
        transform: rotate(60deg);
    }

    .fireplace_prefer:nth-child(10) .popup_prefer::after {
        width: 109px;
        transform: rotate(13deg);
    }

    .fireplace_prefer:nth-child(11) .popup_prefer::after {
        width: 282px;
        transform: rotate(-5deg);
    }

    .fireplace_prefer:nth-child(12) .popup_prefer::after {
        width: 269px;
        transform: rotate(-13deg);
    }

    .fireplace_prefer:nth-child(13) .popup_prefer::after {
        width: 215px;
        transform: rotate(-26deg);
    }

    .fireplace_prefer:nth-child(14) .popup_prefer::after {
        width: 160px;
        transform: rotate(-7deg);
    }

    .fireplace_prefer:nth-child(15) .popup_prefer::after {
        width: 206px;
        transform: rotate(-46deg);
    }

    .fireplace_prefer:nth-child(16) .popup_prefer::after {
        width: 269px;
        transform: rotate(-62deg);
    }

    .popup_prefer img {
        flex: 0 0 50px;
        max-width: 50px;
    }

    .popup_prefer-text {
        padding-left: 15px;
    }

    .popup_prefer-text b {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .popup_prefer-text span {
        font-size: 12px;
    }

    .fireplace_prefer.deck-right .popup_prefer {
        top: auto;
        right: var(--desk-x);
        bottom: var(--desk-y);
        left: auto;
    }

    .fireplace_prefer.deck-left .popup_prefer {
        top: auto;
        right: auto;
        bottom: var(--desk-y);
        left: var(--desk-x);
    }

}