/*DOCUMENTATIONS*/
.documentations {
    margin-bottom: 60px;
}

.sketch {
    margin-bottom: 60px;
}

.sketch-header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
}

.sketch li {
    width: 100%;
    height: auto;
}

.sketch li + li {
    margin-top: 15px;
}

.sketch li img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid var(--base-color-3);
    border-radius: var(--border-radius);
}

.btn.model-btn {
    width: max-content;
    margin: 30px 0 0 0;
}

.download_doc-header {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

.download_doc-header .details_desc-title::before {
    width: calc(100% - 34px);
}

.download_doc-swiper {
    width: calc(100% + 15px);
    margin-right: -15px;
}

.download_doc-swiper .custom-scrollbar {
    margin-right: 15px;
}

.doc_item {
    width: 250px;
    padding: 15px;
    background-color: var(--base-color-2);
    border-radius: var(--border-radius);
}

.doc_item-title {
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.doc_item-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.doc_item-size {
    font-size: 11px;
    color: var(--text-light);
}

.doc_item-bottom .btn {
    font-size: 10px;
    padding: 10px 14px;
}

.model_list li + li {
    margin-top: 10px;
}

.model_list .doc_item {
    width: 100%;
}