@mixin for-customers-480 {
    /*FOR CUSTOMERS*/
    
}

@mixin for-customers-640 {
    /*FOR CUSTOMERS*/
    .for_customers-content  .one_col_form .centre {
        padding: 50px;
    }

    .for_customers-content .phone_form {
        max-width: 420px;
    }

    .for_customers-content .phone_form-inner {
        flex-direction: column;
    }

    .for_customers-content .phone_form-inner .input_wrap {
        margin: 0 0 10px 0;
    }

    .for_customers-content .phone_form-inner .input_wrap input {
        height: 60px;
    }
}

@mixin for-customers-768 {
    /*FOR CUSTOMERS*/
    .for_customers-content .one_col_form .sub_title_1 {
        font-size: 24px;
        max-width: 475px;
    }

    .for_customers-content .one_form-text {
        font-size: 16px;
    }
}

@mixin for-customers-1024 {
    /*FOR CUSTOMERS*/
    .for_customers {
        margin-bottom: 120px;
    }

    .for_customers .centre {
        display: flex;
        align-items: flex-start;
    }

    .close-customers_aside,
    .open-customers_aside {
        display: none;
    }

    .for_customers-aside {
        flex: 0 0 270px;
        display: flex;
    }

    .for_customers-content {
        flex: 1 1 auto;
        padding-left: 30px;
    }

    .customers_menu {
        display: flex;
        flex-direction: column;
    }

    .customers_menu ul {
        display: flex;
        flex-wrap: wrap;
    }

    .customers_menu ul li {
        margin: 0 30px 30px 0;
    }

    .customers_menu ul a {
        color: var(--text-color);
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        min-width: 270px;
        padding: 20px 40px 20px 20px;
        border: 1px solid var(--base-color-3);
        border-radius: var(--border-radius);
        position: relative;
    }

    .customers_menu ul a:hover {
        color: var(--main-color-1)
    }

    .customers_menu ul a::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        border-bottom: 1px solid var(--text-color);
        border-right: 1px solid var(--text-color);
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%) rotate(-45deg);
    }

    .customers_menu ul a .icon {
        margin-right: 16px;
        width: 22px;
        height: 22px;
    }

    .for_customers-aside.main_page .for_customers-menu {
        display: none;
    }

    .delivery_list li + li {
        margin-top: 30px;
    }

    .delivery_list li b {
        font-size: 16px;
    }

    .delivery_list li > span {
        font-size: 16px;
    }

    .delivery_list .btn {
        width: max-content;
    }

    .payment_list > li + li {
        margin-top: 60px;
    }

    .payment_icon {
        flex: 0 0 140px;
        width: 140px;
        height: 140px;
    }

    .payment_list li > .payment_icon {
        display: flex;
    }

    .payment_icon img {
        width: 80px;
        height: 80px;
    }

    .payment_column {
        padding-left: 20px;
    }

    .payment_title .payment_icon {
        display: none;
    }

    .payment_title {
        margin-bottom: 15px;
    }

    .payment_title > span {
        font-size: 20px;
    }

    .payment_text {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .payment_percent {
        font-size: 16px;
    }

    .payment_percent ul li {
        padding-left: 30px;
    }

    .payment_percent ul li::before {
        left: 15px;
        top: 8px;
    }

    .how_buy-subtitle {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .how_buy-list {
        font-size: 16px;
    }
}

@mixin for-customers-1190 {
    /*FOR CUSTOMERS*/

}