/*CATALOG DOWNLOAD*/
.catalog_download {
    margin-bottom: 80px;
}

.catalog_download .centre {
    display: flex;
    flex-direction: column;
}

.catalog_download-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.catalog_download-grid li {
    display: flex;
    flex-direction: column;
}

.catalog_download-grid li img {
    display: block;
    width: 100%;
    height: 252px;
    object-fit: contain;
    margin-bottom: 15px;
}

.magazine_name {
    font-size: 13px;
    margin-bottom: 5px;
}

.magazine_download {
    display: flex;
    flex-direction: column;
}

.magazine_size {
    font-size: 11px;
    color: var(--base-color-6);
    margin-bottom: 15px;
}