@mixin header-480 {
    /*HEADER*/
    h1 {
        color: red;
    }
}

@mixin header-640 {
    /*HEADER*/
    h2 {
        color: blue;
    }
}

@mixin header-768 {
    /*HEADER*/
    h1 {
        color: yellow;
    }
}

@mixin header-1024 {
    /*HEADER*/
    h1 {
        color: green;
    }
}

@mixin header-1190 {
    /*HEADER*/
    h1 {
        color: gray;
    }
}