/*ONE COL FORM*/
.one_col_form {
    position: relative;
    margin-bottom: 80px;
}

.one_col_form.temp-2 {
    margin-bottom: 0;
}

.one_col_form .centre {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--text-contrast);
    padding: 40px 15px 20px 15px;
}

.one_col_form .sub_title_1 b {
    position: relative;
}

.one_col_form .sub_title_1 b::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--main-color-1);
    z-index: -1;
}

.one_form-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1600px;
    height: 100%;
    z-index: -1;
}

.one_col_form.temp-2 .one_form-bg {
    max-width: none;
}

.one_form-bg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    border-radius: 40px;
}

.one_col_form.temp-2 .one_form-bg img {
    border-radius: 0;
}

.one_form-text {
    margin-bottom: 10px;
}

.one_col_form ul li {
    font-size: 14px;
    position: relative;
    padding-left: 16px;
}

.one_col_form ul .icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    left: 0;
    fill: var(--main-color-1);
}

.phone_form {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 25px 25px 40px 25px;
    background-color: var(--base-color-2);
    border-radius: 20px;
}

.phone_form-title {
    font-size: 16px;
    margin-bottom: 5px;
}

.phone_form-text {
    font-size: 13px;
    color: var(--base-color-7);
    margin-bottom: 15px;
}

.phone_form-inner {
    margin-bottom: 15px;
}

.phone_form-inner .input_wrap {
    margin-bottom: 10px;
}

.privacy_policy {
    color: var(--text-light);
    font-size: 11px;
    text-align: center;
}