/* variables */
:root {
	--success: #39A65E;
	--warning: #e1c300;
	--danger: #E61801;

	--base-color-1: #FFFFFF;
	--base-color-2: #F6F6F6;
	--base-color-3: #EBECF2;
	--base-color-4: #CECFD9;
	--base-color-5: #AAAAB2;
	--base-color-6: #85858A;
	--base-color-7: #626366;
	--base-color-8: #333333;
	--base-color-9: #1E1E1E;

	--main-color-1: #FF6E00;
	--main-color-2: #FF9C51;
	--main-color-3: #D95E00;
	--main-color-4: #E5D0BD;
	--main-color-5: #F7C398;
	--main-color-6: #FFD8BB;
	--main-color-7: #FFEFE2;

	--text-color: var(--base-color-9);
	--text-light: var(--base-color-5);
	--text-contrast: var(--base-color-2);

	--border-radius: 6px;
}
