@import "components/base-adaptive";
@import "components/header/header-adaptive";
@import "components/footer/footer-adaptive";
@import "components/popups/popups-adaptive";
@import "components/main-slider/main-slider-apaptive";
@import "components/categories/categories-adaptive";
@import "components/preference/preference-adaptive";
@import "components/certificate-text/certificate-text-adaptive";
@import "components/product-pref/product-pref-adaptive";
@import "components/main-article/main-article-adaptive";
@import "components/product-slider/product-slider-adaptive";
@import "components/one-col-form/one-col-form-adaptive";
@import "components/reviews/reviews-adaptive";
@import "components/interior/interior-adaptive";
@import "components/two-col-form/two-col-form-adaptive";
@import "components/last-news/last-news-adaptive";
@import "components/shops-map/shops-map-adaptive";
@import "components/become-partner/become-partner-adaptive";
@import "components/catalog/catalog-adaptive";

@media only screen and (min-width : 480px)  {
    @include base-480;
    @include popups-480;
    @include header-480;
    @include footer-480;
    @include main-slider-480;
    @include categories-480;
    @include preference-480;
    @include certificate-text-480;
    @include product-pref-480;
    @include main-article-480;
    @include product-slider-480;
    @include one-col-form-480;
    @include reviews-480;
    @include interior-480;
    @include tow-col-form-480;
    @include last-news-480;
    @include shops-map-480;
    @include become-partner-480;
    @include catalog-480;
}

@media only screen and (min-width : 640px)  {
    @include base-640;
    @include popups-640;
    @include header-640;
    @include footer-640;
    @include main-slider-640;
    @include categories-640;
    @include preference-640;
    @include certificate-text-640;
    @include product-pref-640;
    @include main-article-640;
    @include product-slider-640;
    @include one-col-form-640;
    @include reviews-640;
    @include interior-640;
    @include tow-col-form-640;
    @include last-news-640;
    @include shops-map-640;
    @include become-partner-640;
    @include catalog-640;
}

@media only screen and (min-width : 768px)  {
    @include base-768;
    @include popups-768;
    @include header-768;
    @include footer-768;
    @include main-slider-768;
    @include categories-768;
    @include preference-768;
    @include certificate-text-768;
    @include product-pref-768;
    @include main-article-768;
    @include product-slider-768;
    @include one-col-form-768;
    @include reviews-768;
    @include interior-768;
    @include tow-col-form-768;
    @include last-news-768;
    @include shops-map-768;
    @include become-partner-768;
    @include catalog-768;
}

@media only screen and (min-width : 1024px) {
    @include base-1024;
    @include popups-1024;
    @include header-1024;
    @include footer-1024;
    @include main-slider-1024;
    @include categories-1024;
    @include preference-1024;
    @include certificate-text-1024;
    @include product-pref-1024;
    @include main-article-1024;
    @include product-slider-1024;
    @include one-col-form-1024;
    @include reviews-1024;
    @include interior-1024;
    @include tow-col-form-1024;
    @include last-news-1024;
    @include shops-map-1024;
    @include become-partner-1024;
    @include catalog-1024;
}

@media only screen and (min-width : 1190px) {
    @include base-1190;
    @include popups-1190;
    @include header-1190;
    @include footer-1190;
    @include main-slider-1190;
    @include categories-1190;
    @include preference-1190;
    @include certificate-text-1190;
    @include product-pref-1190;
    @include main-article-1190;
    @include one-col-form-1190;
    @include reviews-1190;
    @include interior-1190;
    @include tow-col-form-1190;
    @include last-news-1190;
    @include shops-map-1190;
    @include become-partner-1190;
    @include catalog-1190;
}

@media only screen and (min-width : 1264px) {
    .popup.video_popup .close_btn {
        top: 0;
        right: -40px;
    }

    .product_slider .slider_arrow.arrow-prev {
        left: 0;
    }

    .product_slider .slider_arrow.arrow-next {
        right: 0;
    }

    .reviews_slider .slider_arrow.arrow-prev {
        left: 0;
    }

    .reviews_slider .slider_arrow.arrow-next {
        right: 0;
    }

}