@import "components/base-adaptive";
@import "components/header/header-adaptive";
@import "components/footer/footer-adaptive";
@import "components/popups/popups-adaptive";
@import "components/main-slider/main-slider-apaptive";
@import "components/categories/categories-adaptive";
@import "components/preference/preference-adaptive";
@import "components/certificate-text/certificate-text-adaptive";
@import "components/product-pref/product-pref-adaptive";
@import "components/main-article/main-article-adaptive";
@import "components/product-slider/product-slider-adaptive";
@import "components/one-col-form/one-col-form-adaptive";
@import "components/reviews/reviews-adaptive";
@import "components/interior/interior-adaptive";
@import "components/two-col-form/two-col-form-adaptive";
@import "components/last-news/last-news-adaptive";
@import "components/shops-map/shops-map-adaptive";
@import "components/become-partner/become-partner-adaptive";
@import "components/catalog/catalog-adaptive";
@import "components/catalog-details/catalog-details-adaptive";
@import "components/documentation/documentations-adaptive";
@import "components/photo-prefer/photo-prefer-adaptive";
@import "components/compare/compare-adaptive";
@import "components/blog-temp-1/blog-temp-1-adaptive";
@import "components/blog-temp-2/blog-temp-2-adaptive";
@import "components/blog-details/blog-details-adaptive";
@import "components/gallery/gallery-adaptive";
@import "components/dealer-list/dealer-list-adaptive";
@import "components/for-customers/for-customers-adaptive";
@import "components/contacts/contacts-adaptive";
@import "components/choose-map/choose-map-adaptive";
@import "components/feedback/feedback-adaptive";
@import "components/catalog-download/catalog-download-adaptive";
@import "components/get-magazine/get-magazine-adaptive";

@media only screen and (min-width : 480px)  {
    @include base-480;
    @include popups-480;
    @include header-480;
    @include footer-480;
    @include main-slider-480;
    @include categories-480;
    @include preference-480;
    @include certificate-text-480;
    @include product-pref-480;
    @include main-article-480;
    @include product-slider-480;
    @include one-col-form-480;
    @include reviews-480;
    @include interior-480;
    @include tow-col-form-480;
    @include last-news-480;
    @include shops-map-480;
    @include become-partner-480;
    @include catalog-480;
    @include catalog-details-480;
    @include documentations-480;
    @include photo-prefer-480;
    @include compare-480;
    @include blog-temp-1-480;
    @include blog-temp-2-480;
    @include blog-details-480;
    @include gallery-480;
    @include dealer-list-480;
    @include for-customers-480;
    @include contacts-480;
    @include choose-map-480;
    @include feedback-480;
    @include catalog-download-480;
    @include get-magazine-480;
}

@media only screen and (min-width : 640px)  {
    @include base-640;
    @include popups-640;
    @include header-640;
    @include footer-640;
    @include main-slider-640;
    @include categories-640;
    @include preference-640;
    @include certificate-text-640;
    @include product-pref-640;
    @include main-article-640;
    @include product-slider-640;
    @include one-col-form-640;
    @include reviews-640;
    @include interior-640;
    @include tow-col-form-640;
    @include last-news-640;
    @include shops-map-640;
    @include become-partner-640;
    @include catalog-640;
    @include catalog-details-640;
    @include documentations-640;
    @include photo-prefer-640;
    @include compare-640;
    @include blog-temp-1-640;
    @include blog-temp-2-640;
    @include blog-details-640;
    @include gallery-640;
    @include dealer-list-640;
    @include for-customers-640;
    @include contacts-640;
    @include choose-map-640;
    @include feedback-640;
    @include catalog-download-640;
    @include get-magazine-640;
}

@media only screen and (min-width : 768px)  {
    @include base-768;
    @include popups-768;
    @include header-768;
    @include footer-768;
    @include main-slider-768;
    @include categories-768;
    @include preference-768;
    @include certificate-text-768;
    @include product-pref-768;
    @include main-article-768;
    @include product-slider-768;
    @include one-col-form-768;
    @include reviews-768;
    @include interior-768;
    @include tow-col-form-768;
    @include last-news-768;
    @include shops-map-768;
    @include become-partner-768;
    @include catalog-768;
    @include catalog-details-768;
    @include documentations-768;
    @include photo-prefer-768;
    @include compare-768;
    @include blog-temp-1-768;
    @include blog-temp-2-768;
    @include blog-details-768;
    @include gallery-768;
    @include dealer-list-768;
    @include for-customers-768;
    @include contacts-768;
    @include choose-map-768;
    @include feedback-768;
    @include catalog-download-768;
    @include get-magazine-768;
}

@media only screen and (min-width : 1024px) {
    @include base-1024;
    @include popups-1024;
    @include header-1024;
    @include footer-1024;
    @include main-slider-1024;
    @include categories-1024;
    @include preference-1024;
    @include certificate-text-1024;
    @include product-pref-1024;
    @include main-article-1024;
    @include product-slider-1024;
    @include one-col-form-1024;
    @include reviews-1024;
    @include interior-1024;
    @include tow-col-form-1024;
    @include last-news-1024;
    @include shops-map-1024;
    @include become-partner-1024;
    @include catalog-1024;
    @include catalog-details-1024;
    @include documentations-1024;
    @include photo-prefer-1024;
    @include compare-1024;
    @include blog-temp-1-1024;
    @include blog-temp-2-1024;
    @include blog-details-1024;
    @include gallery-1024;
    @include dealer-list-1024;
    @include for-customers-1024;
    @include contacts-1024;
    @include choose-map-1024;
    @include feedback-1024;
    @include catalog-download-1024;
    @include get-magazine-1024;
}

@media only screen and (min-width : 1190px) {
    @include base-1190;
    @include popups-1190;
    @include header-1190;
    @include footer-1190;
    @include main-slider-1190;
    @include categories-1190;
    @include preference-1190;
    @include certificate-text-1190;
    @include product-pref-1190;
    @include main-article-1190;
    @include one-col-form-1190;
    @include reviews-1190;
    @include interior-1190;
    @include tow-col-form-1190;
    @include last-news-1190;
    @include shops-map-1190;
    @include become-partner-1190;
    @include catalog-1190;
    @include catalog-details-1190;
    @include documentations-1190;
    @include photo-prefer-1190;
    @include compare-1190;
    @include blog-temp-1-1190;
    @include blog-temp-2-1190;
    @include blog-details-1190;
    @include gallery-1190;
    @include dealer-list-1190;
    @include for-customers-1190;
    @include contacts-1190;
    @include choose-map-1190;
    @include feedback-1190;
    @include catalog-download-1190;
    @include get-magazine-1190;
}

@media only screen and (min-width : 1264px) {
    .popup.video_popup .close_btn {
        top: 0;
        right: -40px;
    }

    .product_slider .slider_arrow.arrow-prev {
        left: 0;
    }

    .product_slider .slider_arrow.arrow-next {
        right: 0;
    }

    .reviews_slider .slider_arrow.arrow-prev {
        left: 0;
    }

    .reviews_slider .slider_arrow.arrow-next {
        right: 0;
    }

}