@import "fonts";
@import "variables";
@import "reset";
@import "plugins/dropdown";
@import "plugins/swiper";
@import "components/base";
@import "components/popups/popups";
@import "components/header/header";
@import "components/footer/footer";
@import "components/main-slider/main-slider";
@import "components/categories/categories";
@import "components/preference/preference";
@import "components/certificate-text/certificate-text";
@import "components/product-pref/product-pref";
@import "components/main-article/main-article";
@import "components/product-slider/product-slider";
@import "components/one-col-form/one-col-form";
@import "components/reviews/reviews";
@import "components/interior/interior";
@import "components/two-col-form/two-col-form";
@import "components/last-news/last-news";
@import "components/shops-map/shops-map";
@import "components/become-partner/become-partner";
@import "components/catalog/catalog";
@import "components/catalog-details/catalog-details";
@import "components/documentation/documentations";
@import "components/photo-prefer/photo-prefer";
@import "components/compare/compare";
@import "components/blog-temp-1/blog-temp-1";
@import "components/blog-temp-2/blog-temp-2";
@import "components/blog-details/blog-details";
@import "components/gallery/gallery";
@import "components/dealer-list/dealer-list";
@import "components/for-customers/for-customers";