/*CATALOG*/
.catalog {
    padding-bottom: 80px;
}

.catalog .centre {
    display: flex;
    flex-direction: column;
}

.mob-catalog_control {
    display: flex;
    margin-bottom: 10px;
    position: sticky;
    top: 60px;
    z-index: 1;
}

.mob-catalog_control .btn {
    flex: 0 1 50%;
    padding: 13px 10px;
}

.open-sort_cat.btn  {
    color: var(--text-color);
    background-color: var(--base-color-2);
    border-color: var(--base-color-2);
}

.open-sort_cat.btn .icon {
    fill: var(--text-color);
}

.btn.open-filter_cat span {
    display: flex;
    align-items: center;
}

.btn.open-filter_cat span b {
    font-size: 11px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    margin-left: 6px;
    padding: 0 5px;
    min-width: 18px;
    height: 18px;
    border-radius: 9px;
    background-color: var(--main-color-6);
}

.catalog_filters {
    position: fixed;
    top: 0;
    right: -345px;
    width: 345px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--base-color-1);
    z-index: 12;
    transition: 0.3s;
}

.catalog_filters.filter_overflow {
    overflow-y: hidden;
}

.catalog_filters.active {
    right: 0;
}

.close_filters {
    position: absolute;
    top: 6px;
    right: 6px;
    z-index: 2;
}

.filters_cat {
    display: flex;
    flex-direction: column;
}

.filters_cat > li {
    display: flex;
}

.turn_back,
.filters_cat > li > a {
    color: var(--text-contrast);
    font-size: 20px;
    line-height: 1.2;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 20px;
    background-color: var(--base-color-8);
}

.turn_back {
    text-align: center;
    justify-content: center;
    padding-right: 50px;
    position: relative;
}

.filters_cat > li:nth-child(1) > a.has_drop {
    min-height: 82px;
}

.filters_cat > li > a.has_drop {
    padding-right: 50px;
    position: relative;
}

.turn_back::before,
.filters_cat > li > a.has_drop::after {
    content: "";
    width: 8px;
    height: 8px;
    border-bottom: 1px solid var(--base-color-5);
    border-right: 1px solid var(--base-color-5);
    position: absolute;
    bottom: 24px;
    right: 22px;
    transform: rotate(-45deg);
}

.turn_back::before {
    left: 22px;
    transform: rotate(135deg);
}

.filters_cat .for_drop {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--base-color-1);
    transition: 0.3s;
    z-index: 1;
}

.filters_cat li.active .for_drop {
    left: 0;
}

.filter_wrap {
    padding: 20px 15px 64px 15px;
}

.filter-cat_grid {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 8px;
}

.filter-cat_grid li {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 50%;
}

.filter-cat_grid li:nth-child(2n + 1) {
    margin: 0 -1px -1px 0;
}

.filter-cat_grid li:nth-child(2n + 2) {
    margin: 0 0 -1px 0;
}

.filter-cat_grid li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 11px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 8px 5px;
    width: 100%;
    border: 1px solid var(--base-color-3);
    border-radius: var(--border-radius);
}

.filter-cat_grid li a img {
    margin-bottom: 8px;
    height: 120px;
    width: 100%;
    object-fit: contain;
}

.filter-cat_grid li a.active {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 110, 0, 0.1);
    border-color: var(--main-color-1);
}

.filter-cat_grid li a span {
    text-align: center;
    margin: auto 0;
    max-height: 31px;
    overflow: hidden;
}

.filter_wrap-title {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

.counter_filters {
    display: block;
    font-size: 11px;
    color: var(--text-light);
    margin-bottom: 15px;
}

.selected_filters {
    display: flex;
    flex-direction: column;
}

.selected_filters > span {
    color: var(--base-color-7);
    font-size: 13px;
    margin-bottom: 6px;
}

.selected_filters ul {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
}

.selected_filters li {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 6px 8px;
    border: 1px solid var(--base-color-4);
    border-radius: var(--border-radius);
}

.selected_filters .reset_item {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 2px;
}

.selected_filters .reset_item .icon {
    width: 10px;
    height: 10px;
    fill: var(--base-color-5);
    transition: 0.3s;
}

.selected_filters .reset_item:hover .icon {
    fill: var(--danger);
}

.filter_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--base-color-3);
}

.filter_inner {
    display: none;
    padding: 5px 0 15px 0;
}

.filter_item.active .filter_inner {
    display: block;
}

.filter_title {
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 40px 10px 0;
    position: relative;
    transition: 0.3s;
}

.filter_item.active .filter_title {
    font-weight: 600;
}

.filter_title::before,
.filter_title::after {
    content: "";
    width: 1px;
    height: 7px;
    background-color: var(--base-color-6);
    position: absolute;
    top: 50%;
    right: 16px;
    transform-origin: bottom;
    transition: 0.3s;
}

.filter_title::before {
    transform: translateY(-50%) rotate(-45deg) translateX(0.5px);
}

.filter_title::after {
    transform: translateY(-50%) rotate(45deg) translateX(-0.5px);
}

.filter_item.active .filter_title::before,
.filter_item.active .filter_title::after {
    transform-origin: top;
}

.filter_item.active .filter_title::before {
    transform: translateY(-50%) rotate(45deg) translateX(0.5px);
}

.filter_item.active .filter_title::after {
    transform: translateY(-50%) rotate(-45deg) translateX(-0.5px);
}

.price_filter {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 16px;
}

.price_filter span:nth-child(1) {
    font-size: 11px;
    margin-right: auto;
}

.price_filter span:nth-child(3) {
    font-size: 11px;
    margin: 0 auto;
}

.price_filter input[type=text] {
    text-align: center;
    padding: 0 10px;
    height: 30px;
    width: 90px;
}

.price_filter .btn {
    margin-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
}

.list_filter {
    display: flex;
    flex-direction: column;
}

.list_filter li + li {
    margin-top: 10px;
}

.list_filter a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 13px;
    color: var(--text-color);
    padding-left: 25px;
    position: relative;
}

.list_filter a::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: var(--base-color-1);
    border: 1px solid var(--base-color-4);
    border-radius: 2px;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}

.list_filter a.active::before {
    background-color: var(--main-color-1);
    border-color: var(--main-color-1);
}

.list_filter a::after {
    content: "";
    width: 8px;
    height: 6px;
    border-bottom: 2px solid var(--base-color-1);
    border-left: 2px solid var(--base-color-1);
    position: absolute;
    top: 3px;
    left: 4px;
    transform: rotate(-45deg);
}

.show_more-filters {
    margin-top: 15px;
}

.list_grid {
    display: flex;
    flex-wrap: wrap;
}

.list_grid li {
    display: flex;
    margin: 0 5px 5px 0;
}

.list_grid a {
    text-decoration: none;
    font-size: 11px;
    color: var(--text-color);
    padding: 5px 10px;
    border: 1px solid var(--base-color-4);
    border-radius: 5px;
    transition: 0.3s;
}

.list_grid a.active {
    color: var(--text-contrast);
    background-color: var(--main-color-1);
    border-color: var(--main-color-1);
}

.submit_filters {
    display: flex;
    padding: 8px 15px;
    width: 345px;
    position: fixed;
    bottom: 0;
    right: -345px;
    box-shadow: 0px -4px 10px rgba(27, 28, 32, 0.15);
    background-color: var(--base-color-1);
    transition: 0.3s;
}

.catalog_filters.active .submit_filters {
    right: 0;
}

.submit_filters a {
    flex: 1 1 auto;
}

.reset_filters {
    margin-right: 4px;
}

.desk-cat_control .selected_filters {
    display: none;
}

.filter_sort {
    position: fixed;
    top: 0;
    right: -345px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 20px 15px;
    width: 345px;
    background-color: var(--base-color-1);
    z-index: 12;
    border-radius: 0 0 0 20px;
    transition: 0.3s;
}

.filter_sort.active {
    right: 0;
}

.close-filter_sort {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 34px;
    height: 34px;
}

.close-filter_sort .icon {
    width: 24px;
    height: 24px;
}

.filter_sort-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.filter_sort ul li + li {
    margin-top: 20px;
}

.filter_sort ul a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 13px;
    padding-left: 25px;
    position: relative;
}

.filter_sort ul a::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid var(--base-color-4);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
    transition: 0.3s;
}

.filter_sort ul a.active::before {
    border-color: var(--main-color-1);
}

.filter_sort ul a::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--main-color-1);
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 3px;
    opacity: 0;
    transition: 0.3s;
}

.filter_sort ul a.active::after {
    opacity: 1;
}

.desk-selected_filters {
    display: none;
}

.catalog_grid {
    display: flex;
    flex-wrap: wrap;
}

.catalog_grid .product_item {
    flex: 0 1 50%;
}

.catalog_grid .product_item:nth-child(2n + 1) {
    margin: 0 -1px -1px 0;
}

.catalog_grid .product_item:nth-child(2n + 2) {
    margin: 0 0 -1px 0;
}

.catalog_navigation {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.pagination a,
.pagination span {
    font-size: 16px;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    padding: 0 5px;
    border-radius: var(--border-radius);
    transition: 0.3s;
}

.pagination a.active,
.pagination a:not(.disabled):hover {
    color: var(--text-color);
    background-color: var(--base-color-3);
}

.pagination a .icon {
    width: 16px;
    height: 16px;
    color: var(--text-color);
}

.pagination a.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.pagination ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}