@mixin header-480 {
    /*HEADER*/

}

@mixin header-640 {
    /*HEADER*/

    .mob_grid-photo > li {
        width: 33.33%;
    }

    .mob_grid-photo > li:nth-child(2n + 1) {
        margin: 0;
    }

    .mob_grid-photo > li:nth-child(2n + 2) {
        margin: 0;
    }


    .mob_grid-photo > li:nth-child(3n + 1) {
        margin: 0 0 -1px 0;
    }

    .mob_grid-photo > li:nth-child(3n + 2) {
        margin: 0 -1px -1px -1px;
    }

    .mob_grid-photo > li:nth-child(3n + 3) {
        margin: 0 0 -1px 0;
    }

}

@mixin header-768 {
    /*HEADER*/

}

@mixin header-1024 {
    /*HEADER*/
    .top_header .col-1 {
        flex: 0 1 auto;
        padding-right: 10px;
    }

    .header_logo {
        margin-right: 10px;
    }

    .header_logo img.mobile {
        display: none;
    }

    .header_logo img.desktop {
        display: block;
        width: 143px;
        height: 38px;
    }

    .site_header.is_searching .top_header .header_logo {
        display: block;
    }

    body.header_fixed .site_header.is_searching .header_logo {
        display: none;
    }

    .header_slogan {
        font-size: 11px;
        line-height: 1.4;
        color: var(--base-color-5);
    }

    .top_header .header_slogan {
        display: block;
        width: 190px;
    }

    .top_header .col-1 .search_box {
        display: none;
    }

    .top_header .col-2 {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        padding: 0 10px 0 0;
    }

    .header_btn-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        position: relative;
        border-radius: var(--border-radius);
        transition: 0.3s;
    }

    .header_btn-icon:hover {
        background-color: var(--base-color-4);
    }

    .header_btn-icon .icon {
        display: block;
        width: 20px;
        height: 20px;
        fill: var(--base-color-5);
        transition: 0.3s;
    }

    .header_btn-icon:hover .icon {
        fill: var(--main-color-1)
    }

    .header_btn-icon .counter {
        color: var(--base-color-1);
        background-color: var(--main-color-1);
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 13px;
        min-width: 13px;
        border-radius: 6px;
        padding: 0 3px;
    }

    .top_header .col-2 .compare_header {
        display: none;
    }

    .header_dropdown {
        position: relative;
    }

    .selected_box {
        text-decoration: none;
        font-size: 13px;
        color: var(--base-color-3);
        display: flex;
        align-items: center;
        padding-right: 22px;
        position: relative;
    }

    .selected_box::before,
    .selected_box::after {
        content: "";
        width: 1px;
        height: 6px;
        background-color: var(--base-color-3);
        position: absolute;
        top: 50%;
        right: 10px;
        transform-origin: bottom;
        transition: 0.3s;
    }

    .selected_box::before {
        transform: translateY(-50%) rotate(-45deg);
    }

    .selected_box::after {
        transform: translateY(-50%) rotate(45deg);
    }

    .selected_box:hover::before,
    .selected_box:hover::after {
        background-color: var(--main-color-1);
    }

    .selected_box .icon {
        display: block;
        margin-right: 6px;
        width: 16px;
        height: 16px;
    }

    .header_dropdown ul {
        display: none;
        min-width: 100%;
        flex-direction: column;
        background-color: var(--base-color-1);
        border: 1px solid var(--main-color-1);
        border-radius: var(--border-radius);
        padding: 5px;
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        z-index: 1;
    }

    .header_dropdown.active ul {
        display: flex;
    }

    .header_dropdown ul li + li {
        margin-top: 3px;
    }

    .header_dropdown ul a {
        text-align: end;
        font-size: 13px;
        color: var(--text-color);
        display: flex;
        align-items: center;
        justify-content: end;
        transition: 0.3s;
    }

    .header_dropdown ul a:hover {
        color: var(--main-color-1);
    }

    .header_dropdown ul a .icon {
        width: 16px;
        height: 16px;
        margin-right: 6px;
    }

    .header_dropdown.choose_language {
        margin: 0 3%;
    }

    .header_dropdown.choose_language .icon {
        border-radius: 50%;
    }

    .header_dropdown.choose_city {
        margin: 0 3%;
    }

    .header_dropdown.choose_city .icon {
        fill: var(--main-color-1);
    }

    .top_header .col-3 {
        display: flex;
        align-items: center;
    }


    .info_list.header_phones {
        margin-right: 10px;
    }

    .callback_btn.btn.medium {
        margin-right: 10px;
    }

    .mob_menu-btn {
        display: none;
    }

    body.header_fixed {
        padding-top: 67px;
    }

    body.header_fixed .top_header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
        z-index: 3;
    }

    body.header_fixed .header_logo {
        display: none;
    }

    body.header_fixed .top_header .header_slogan {
        display: none;
    }

    body.header_fixed .header_catalog-btn {
        display: flex;
        margin-right: 10px;
        padding: 11px 22px;
        min-height: 40px;
    }

    body.header_fixed .top_header .col-1 .search_box {
        display: block;
        width: 186px;
    }

    body.header_fixed .top_header .col-2 .compare_header {
        display: flex;
    }

    .menu_header {
        display: block;
        background-color: var(--base-color-2);
        padding: 10px 0;
        border-bottom: 1px solid var(--base-color-4);
    }

    .menu_header .centre {
        display: flex;
    }

    .menu_header .top_menu-1lvl {
        flex: 1 1 auto;
        display: flex;
    }

    .menu_header .top_menu-1lvl ul {
        display: flex;
        flex-wrap: wrap;
        align-self: stretch;
        width: 100%;
    }

    .menu_header .top_menu-1lvl li {
        display: flex;
        margin: 0 auto 0 0;
    }

    .menu_header .top_menu-1lvl a {
        text-decoration: none;
        font-size: 14px;
        color: var(--text-color);
        display: flex;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: 0.3s;
    }

    .menu_header .top_menu-1lvl a.active,
    .menu_header .top_menu-1lvl a.opened_submenu,
    .menu_header .top_menu-1lvl a:hover {
        color: var(--main-color-1);
    }

    .menu_header .top_menu-1lvl a.has_drop {
        padding-right: 16px;
    }

    .menu_header .top_menu-1lvl a.has_drop::before {
        content: "";
        width: 6px;
        height: 6px;
        border-bottom: 1px solid var(--base-color-4);
        border-right: 1px solid var(--base-color-4);
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translateY(-50%) rotate(45deg);
        transition: border-color 0.3s;
    }

    .menu_header .top_menu-1lvl a.has_drop:hover::before {
        border-color: var(--main-color-1);
    }

    .menu_header .top_menu-1lvl a.has_drop.opened_submenu::before {
        transform: translateY(-50%) rotate(-135deg);
        margin-top: 3px;
        border-color: var(--main-color-1);
    }

    .menu_header .top_menu-1lvl a::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--main-color-1);
        position: absolute;
        bottom: -10px;
        left: 0;
        opacity: 0;
    }

    .menu_header .top_menu-1lvl a.active::after {
        opacity: 1;
    }


    .menu_header .col-2 {
        display: flex;
        align-items: center;
    }

    .menu_header .col-2 .search_box {
        margin-right: 10px;
    }

    .menu_header.menu_header-search .col-2 {
        flex: 1 1 auto;
    }

    .menu_header.menu_header-search .col-2 .search_box {
        flex: 1 1 auto;
    }

    .menu_header.menu_header-search .top_menu-1lvl {
        display: none;
    }

    .site_header.menu-has_opened {
        z-index: 12;
    }

    .desk-top_menu {
        display: none;
        width: 100%;
        max-height: calc(100vh - 126px);
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 12;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: var(--base-color-1);
        box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.4);
    }

    .desk-top_menu::before {
        content: "";
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: 100%;
        left: 0;
    }

    .desk-top_menu.active {
        display: block;
    }

    .desk-top_menu.active_fixed {
        display: block;
        position: fixed;
        left: 0;
        top: 67px;
        max-height: calc(100vh - 67px);
    }

    .desk-top_menu .centre {
        display: flex;
        align-items: flex-start;
        position: relative;
    }

    .desk-top_menu .menu-1_lvl {
        display: none;
    }

    .desk-top_menu.active_fixed .menu-1_lvl {
        display: flex;
        flex-direction: column;
        flex: 0 1 270px;
        padding: 12px 20px 10px 0;
        margin-right: 20px;
        position: relative;
    }

    .desk-top_menu .menu-1_lvl::before {
        content: "";
        width: 1px;
        height: calc(100% - 22px);
        position: absolute;
        top: 12px;
        right: 0;
        background-color: var(--base-color-4);
    }

    .desk-top_menu .menu-1_lvl a {
        text-decoration: none;
        font-size: 14px;
        line-height: 1.2;
        color: var(--text-color);
        display: flex;
        align-items: center;
        padding: 8px 10px;
        border-radius: var(--border-radius);
        transition: 0.3s;
    }


    .desk-top_menu .menu-1_lvl a.active {
        background-color: var(--base-color-3);
        color: var(--main-color-1)
    }

    .desk-top_menu .menu-1_lvl a:hover {
        background-color: var(--base-color-3);
    }

    .desk-top_menu .menu-1_lvl a.has_drop::after {
        content: "";
        display: block;
        margin-left: 6px;
        flex: 0 0 6px;
        width: 6px;
        height: 6px;
        position: relative;
        border-bottom: 1px solid var(--text-color);
        border-right: 1px solid var(--text-color);
        transform: rotate(-45deg);
    }

    .desk-top_menu .menu-1_lvl a.active::after {
        border-color: var(--main-color-1);
    }

    .desk-top_menu.active_fixed .menu-2_lvl {
        grid-template-columns: repeat(3, 1fr);
    }

    .desk-top_menu .menu-2_lvl {
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
        padding: 30px 0 60px 0;
    }

    .desk-top_menu .menu-2_lvl li {
        display: flex;
    }

    .desk-top_menu .menu-2_lvl a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
        border-radius: var(--border-radius);
        border: 1px solid var(--base-color-3);
        transition: 0.3s;
        position: relative;
        overflow: hidden;
    }

    .desk-top_menu .menu-2_lvl a.active,
    .desk-top_menu .menu-2_lvl a:hover {
        border-color: var(--main-color-1);
    }

    .desk-top_menu .menu-2_lvl a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color-1);
        z-index: -1;
        opacity: 0;
        transition: 0.3s;
    }

    .desk-top_menu .menu-2_lvl a.active::before {
        opacity: 0.1;
    }

    .desk-top_menu .menu-2_lvl a img {
        display: block;
        height: 100px;
        width: 100%;
        object-fit: contain;
    }

    .desk-top_menu .menu-2_lvl a span {
        font-size: 14px;
        color: var(--text-color);
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .close-top_menu {
        position: absolute;
        top: 0px;
        right: 16px;
        width: 30px;
        height: 30px;
    }

    .close-top_menu:hover {
        background-color: transparent;
    }

    .close-top_menu .icon {
        width: 18px;
        height: 18px;
    }

    body.header_fixed .top_header.top_header-search  .col-1 {
        flex: 1 1 auto;
        padding-right: 20px;
    }

    body.header_fixed .top_header.top_header-search .search_box {
        flex: 1 1 auto;
        width: auto;
    }

    body.header_fixed .top_header.top_header-search .col-2 {
        display: none;
    }

    body.header_fixed .top_header.top_header-search .info_list.header_phones {
        display: none;
    }
    .result_box {
        padding-bottom: 12px;
    }

    .result_list {
        display: flex;
        box-shadow: inset 0px -10px 10px rgb(27 28 32 / 15%);
        margin-bottom: 12px;
    }

    .result_items {
        width: 50%;
        padding: 0 10px 0 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    .popular-result_items {
        width: 50%;
        padding-right: 32px;
    }

    .popular-result_items ul {
        margin-bottom: 0;
        box-shadow: none;
        padding-bottom: 4px;
    }

    .result_items {
        max-height: 274px;
    }

    .result_items a {
        padding: 8px 40px;
    }

    .result_items a:hover {
        color: var(--text-color);
        background-color: var(--main-color-7);
    }

    .popular-result_title {
        padding: 0;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .popular-result_items ul {
        max-height: 245px;
    }

    .popular-result_item {
        padding: 6px;
        border: 1px solid var(--base-color-4);
        border-radius: var(--border-radius);
        transition: 0.3s;
    }

    .popular-result_item:hover {
        border-color: var(--main-color-1);
    }

    .popular-result_items ul li + li {
        margin-top: 4px;
    }

    .popular-result_item img {
        width: 80px;
        height: 70px;
    }

    .popular-item_title {
        font-size: 16px;
        font-weight: 500;
    }

    .popular-price span b {
        font-size: 20px;
    }

    .empty_result {
        padding: 15px 40px;
    }
}

@mixin header-1190 {
    /*HEADER*/
    body.header_fixed .header_catalog-btn {
        margin-right: 30px;
    }

    .top_header .col-1 {
        padding-right: 20px;
    }

    .info_list.header_phones {
        margin-right: 20px;
    }

    .header_dropdown.choose_language {
        margin: 0 5%;
    }

    body.header_fixed .top_header .col-2 .compare_header {
        margin: 0 5% 0 0;
    }

    .desk-top_menu .menu-2_lvl {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 30px;
    }

    .desk-top_menu.active_fixed .menu-2_lvl {
        grid-template-columns: repeat(4, 1fr);
    }

    .desk-top_menu.active_fixed .menu-1_lvl {
        margin-right: 30px;
    }
}