/*LAST NEWS*/
.last_news {
    margin-bottom: 80px;
}

.last_news-header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
}

.last_news-header .headline_2 {
    margin-bottom: 0;
    padding-right: 30px;
}

.last_news-header .swipe_icon {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
}

.last_news-item {
    flex: 0 0 260px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--base-color-2);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.last_news-img {
    display: block;
    width: 100%;
    height: 196px;
}

.last_news-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.last_news-item figcaption {
    padding: 10px 15px 15px 15px;
    display: flex;
    flex-direction: column;
}

.last_news-item figcaption time {
    font-size: 11px;
    color: var(--base-color-5);
    margin-bottom: 4px;
}

.last_news-item figcaption b {
    font-size: 13px;
    margin-bottom: 4px;
}

.last_news-item figcaption span {
    font-size: 11px;
    margin-bottom: 15px;
}

.last_news-item figcaption .site_link {
    display: flex;
    align-items: center;
}

.last_news-item figcaption .site_link .icon {
    width: 8px;
    height: 8px;
    margin-left: 8px;
    fill: var(--main-color-1);
}