/*PRODUCT SLIDER*/

.product_slider {
    margin-bottom: 30px;
    overflow: hidden;
}

.product_slider .centre {
    display: flex;
    flex-direction: column;
    padding-right: 0;
}

.product_slider-header {
    display: flex;
    padding-right: 15px;
}

.product_slider-header .sub_title_2 {
    font-size: 14px;
}

.product_slider .slider_arrow {
    display: none;
}

.product_swiper .custom-scrollbar {
    margin-right: 15px;
}

.product_swiper .product_item {
    width: 165px;
}

.product_slider .btn.show_more {
    margin: 10px 10px 40px 0;
}