@mixin base-480 {
    /*BASE*/

}

@mixin base-640 {
    /*BASE*/

}

@mixin base-768 {
    /*BASE*/

    /*product item*/
    .product_item {
        padding: 20px;
        box-shadow: 0px 10px 30px rgba(27, 28, 32, 0);
    }

    .product_item:hover {
        box-shadow: 0px 10px 30px rgba(27, 28, 32, 0.15);
    }

    .compare_btn {
        width: 30px;
        height: 30px;
        top: -10px;
        right: -10px;
    }

    .compare_btn .compare_icon {
        width: 20px;
        height: 20px;
    }

    .product_photo {
        height: 240px;
    }

    .product_name {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .product_available {
        margin-bottom: 15px;
    }

    .product_bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .product_price {
        margin-bottom: 0;
        padding-right: 10px;
    }

    /*product item*/

    .swiper-pagination.slider_pag {
        margin-top: 15px;
    }

    .swiper-pagination.slider_pag .swiper-pagination-bullet {
        width: 30px;
    }

    .breadcrumbs {
        padding-bottom: 40px;
    }
}

@mixin base-1024 {
    /*BASE*/
    BODY, HTML {
        font-size: 16px;
    }

    body {
        padding-top: 0;
    }

    article {
        font-size: 16px;
        line-height: 1.7;
    }

    article > * {
        margin-bottom: 40px;
    }

    h1,
    .headline_1 {
        font-size: 38px;
        line-height: 1.4;
        font-weight: 600;
        margin: 0 0 40px 0;
    }

    .headline_2 {
        font-size: 36px;
        line-height: 1.4;
        font-weight: 600;
        margin: 0 0 28px 0;
    }

    h2,
    .sub_title_1 {
        font-size: 36px;
        line-height: 1.4;
        margin: 0 0 28px 0;
    }

    .sub_title_2 {
        text-transform: uppercase;
        font-size: 32px;
        line-height: 1.4;
        font-weight: 600;
        margin: 0 0 26px 0;
    }

    h3,
    .sub_title_3 {
        font-size: 32px;
        line-height: 1.3;
        font-weight: 400;
        margin: 0 0 26px 0;
    }

    h4,
    .sub_title_4 {
        font-size: 24px;
        line-height: 1.4;
        font-weight: 600;
        margin: 0 0 18px 0;
    }

    h5,
    .sub_title_5 {
        font-size: 24px;
        line-height: 1.4;
        font-weight: 400;
        margin: 0 0 18px 0;
    }

    h6,
    .sub_title_6 {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 600;
        margin: 0 0 16px 0;
    }

    h6.check_title::before {
        top: 6px;
    }

    h6.check_title::after {
        top: 9px;
    }

    .btn {
        font-size: 16px;
        padding: 20px 30px;
    }

    .btn.big {
        font-size: 16px;
        padding: 29px 42px;
    }

    .label_text {
        font-size: 16px;
        margin-bottom: 10px;
    }

    input {
        height: 70px;
        padding: 0 25px;
        font-size: 16px;
    }

    input[type=text].error, input[type=password].error, input[type=tel].error, input[type=number].error, input[type=email].error, textarea.error {
        background-position: calc(100% - 22px) 20px;
        background-size: 26px;
        padding-right: 50px;
    }

    .close_btn {
        width: 40px;
        height: 40px;
    }

    .close_btn .icon {
        width: 24px;
        height: 24px;
    }

    .slider_arrow {
        width: 80px;
        height: 80px;
    }

    .slider_arrow::before,
    .slider_arrow::after {
        width: 14px;
        height: 2px;
    }
}

@mixin base-1190 {
    /*BASE*/
    .to_up {
        left: calc(50% - 650px);
    }

}