/*BLOG DETAILS*/
.blog_details {
    margin-bottom: 80px;
}

.blog_details .centre {
    display: flex;
    flex-direction: column;
}

.blog_details-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.blog_details-header time {
    font-size: 11px;
    color: var(--base-color-5);
}

.blog_details .centre aside {
    display: flex;
    flex-direction: column;
    order: 1;
}

.interested_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.interested_item {
    display: flex;
    padding: 10px;
    border: 1px solid var(--base-color-2);
    border-radius: var(--border-radius);
}

.interested_item + .interested_item {
    margin-top: 15px;
}

.interested_item .col-1 {
    flex: 0 0 86px
}

.interested_image {
    margin-bottom: 8px;
    display: block;
    width: 100%;
    height: 65px;
}

.interested_image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.interested_item time {
    font-size: 11px;
    color: var(--base-color-5);
}

.interested_item .col-2 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.interested_name {
    text-decoration: none;
    color: var(--text-color);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 4px;
}

.interested_text {
    font-size: 11px;
    color: var(--base-color-7);
    margin-bottom: 10px;
}

.interested_link {
    color: var(--main-color-1);
    position: relative;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

.interested_link:hover {
    color: var(--main-color-2);
}

.interested_link::after {
    content: "";
    display: inline-block;
    margin: 0 0 1px 6px;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid var(--main-color-1);
    border-right: 1px solid var(--main-color-1);
    position: relative;
    transform: rotate(-45deg);
    transition: 0.3s;
}

.interested_link:hover::after {
    border-color: var(--main-color-2)
}

.blog_details article {
    margin-bottom: 80px;
}