@media only screen and (min-width: 480px) {
  /*BASE*/
  /*POPUPS*/
  .popup {
    padding: 60px 56px;
  }

  .popup .close_btn {
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
  }

  .popup .close_btn .icon {
    width: 24px;
    height: 24px;
  }

  .popup .sub_title_5 {
    font-size: 24px;
  }

  .popup .popup_subtitle {
    font-size: 16px;
  }

  .popup_product-name {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .icon-thank_you {
    width: 160px;
    height: 160px;
    margin-bottom: 30px;
  }

  .popup.eco_popup {
    margin: 0;
    border-radius: 20px;
    padding: 45px 40px;
  }

  .eco_popup-title {
    font-size: 24px;
    padding-right: 20px;
    margin-bottom: 26px;
  }

  .eco_popup-title .icon {
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
  }

  .popup.video_popup iframe {
    height: 450px;
  }

  /*HEADER*/
  /*FOOTER*/
  /*MAIN_SLIDER*/
  /*CATEGORIES*/
  /*PREFERENCE*/
  .preference_grid {
    grid-gap: 20px;
    padding-top: 20px;
  }

  .categories + .preference .preference_grid {
    grid-gap: 26px;
    padding-top: 40px;
  }

  .preference_grid li {
    flex-direction: column;
    padding: 42px 25px 38px 25px;
  }

  .preference_img {
    margin: 0 0 14px 23px;
    width: 60px;
    height: 60px;
  }

  .categories + .preference .preference_img {
    margin: 0 0 20px 40px;
    width: 60px;
    height: 60px;
  }

  .preference_img::before {
    width: 100px;
    height: 100px;
  }

  .categories + .preference .preference_img::before {
    width: 140px;
    height: 140px;
  }

  .preference-text b {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .preference-text span {
    font-size: 16px;
  }

  /*CERTIFICATE TEXT*/
  /*PRODUCT PREF*/
  /*MAIN ARTICLE*/
  /*PRODUCT SLIDER*/
  /*ONE COL FORM*/
  /*REVIEWS*/
  /*INTERIOR*/
  /*TWO COL FORM*/
  /*LAST NEWS*/
}
@media only screen and (min-width: 640px) {
  /*BASE*/
  /*POPUPS*/
  .popup.video_popup iframe {
    height: 658px;
  }

  /*HEADER*/
  .mob_grid-photo > li {
    width: 33.33%;
  }

  .mob_grid-photo > li:nth-child(2n+1) {
    margin: 0;
  }

  .mob_grid-photo > li:nth-child(2n+2) {
    margin: 0;
  }

  .mob_grid-photo > li:nth-child(3n+1) {
    margin: 0 0 -1px 0;
  }

  .mob_grid-photo > li:nth-child(3n+2) {
    margin: 0 -1px -1px -1px;
  }

  .mob_grid-photo > li:nth-child(3n+3) {
    margin: 0 0 -1px 0;
  }

  /*FOOTER*/
  .site_footer .centre {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 25px;
  }

  .footer_text {
    margin-bottom: 0;
  }

  .footer_subtitle {
    margin-bottom: 12px;
  }

  .footer_text .footer_social {
    display: flex;
    margin-top: auto;
  }

  .footer_menu {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .footer_menu-title {
    margin-bottom: 16px;
  }

  a.footer_menu-title:hover {
    color: var(--main-color-1);
  }

  .footer_menu-list a:hover,
.footer_menu-item .info_list ul a:hover {
    color: var(--main-color-1);
  }

  .footer_bottom {
    grid-column: 1/3;
  }

  .footer_bottom .footer_social {
    display: none;
  }

  .footer_social a:hover .icon {
    fill: var(--main-color-1);
  }

  /*MAIN_SLIDER*/
  .main_slider-item .centre {
    padding-top: 120px;
    padding-bottom: 240px;
  }

  .main_slider-item .big.search_product {
    width: auto;
  }

  /*CATEGORIES*/
  .categories_header-text {
    font-size: 32px;
    text-align: center;
  }

  .categories .headline_1 {
    padding-right: 0;
    text-align: center;
  }

  .main_slider + .categories {
    margin: -160px 0 0 0;
    padding-bottom: 60px;
  }

  .categories {
    margin: 0 0 120px 0;
  }

  .main_slider + .categories .categories_header {
    display: none;
  }

  .swiper.categories_slider {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: unset;
  }

  .categories_header .swipe_icon {
    display: none;
  }

  .swiper.categories_slider .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }

  .swiper.categories_slider .custom-scrollbar {
    display: none;
  }

  .categories_item {
    width: 100%;
    font-size: 16px;
    padding: 15px;
  }

  .categories_item img {
    height: 190px;
  }

  .categories_item span {
    max-height: 44px;
  }

  .categories .show_catalog {
    display: none;
  }

  /*PREFERENCE*/
  .preference_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /*CERTIFICATE TEXT*/
  .certificate_text .headline_2 {
    margin-bottom: 60px;
    max-width: 850px;
  }

  .certificate_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .certificate_list {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 10px;
  }

  .certificate_image {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: -50px;
    margin-bottom: 0;
    padding-left: 10px;
    height: max-content;
    z-index: -1;
  }

  .certificate_image .btn {
    left: 50%;
    right: auto;
    bottom: 34px;
    transform: translate(-50%);
  }

  /*PRODUCT PREF*/
  .product_pref .headline_2 {
    max-width: 770px;
    margin-bottom: 40px;
  }

  .product_pref-list {
    display: flex;
    align-items: flex-end;
    max-width: 670px;
  }

  .product_pref-list ul {
    margin-bottom: 0;
    width: 55%;
  }

  .product_pref-list li {
    padding: 25px 20px 30px 25px;
  }

  .product_pref-list li + li {
    margin-top: 10px;
  }

  .product_pref-video {
    width: 45%;
    padding-left: 30px;
  }

  .product_pref-icon {
    flex: 0 0 36px;
    width: 36px;
    height: 36px;
  }

  .product_pref-icon img {
    width: 16px;
    height: 16px;
  }

  .product_pref-list li span {
    font-size: 16px;
    padding-left: 16px;
  }

  .product_pref-text {
    font-size: 16px;
    padding: 91px 22px 36px 22px;
  }

  .play_btn {
    width: 90px;
    height: 90px;
  }

  .play_btn::before {
    width: 130px;
    height: 130px;
  }

  .play_btn:hover::before {
    width: 150px;
    height: 150px;
  }

  .play_btn .icon {
    width: 26px;
    height: 26px;
    margin: 32px 0 0 35px;
  }

  /*MAIN ARTICLE*/
  /*PRODUCT SLIDER*/
  /*ONE COL FORM*/
  .one_col_form .centre {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .phone_form {
    margin-top: 40px;
    max-width: 670px;
    padding: 35px 35px 40px 35px;
  }

  .phone_form-title {
    font-size: 24px;
  }

  .phone_form-text {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .phone_form-inner {
    display: flex;
    flex-direction: row;
  }

  .phone_form-inner .input_wrap {
    flex: 0 0 50%;
    margin-right: -6px;
    margin-bottom: 0;
  }

  .phone_form-inner .input_wrap input {
    height: 70px;
  }

  .phone_form-inner .btn {
    flex: 0 0 calc(50% + 6px);
  }

  .phone_form .privacy_policy {
    max-width: 400px;
    margin: 0 auto;
  }

  /*REVIEWS*/
  /*INTERIOR*/
  /*TWO COL FORM*/
  .two_col_form .centre {
    display: flex;
    justify-content: space-between;
  }

  .two_col_form .centre > .col-1 {
    flex: 1 1 auto;
    max-width: 550px;
    padding-right: 20px;
  }

  .two_col_form .centre > .col-2 {
    flex: 0 0 50%;
    max-width: 420px;
    padding-left: 20px;
  }

  .two_col_form .phone_form {
    margin-top: 0;
  }

  /*LAST NEWS*/
}
@media only screen and (min-width: 768px) {
  /*BASE*/
  /*product item*/
  .product_item {
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(27, 28, 32, 0);
  }

  .product_item:hover {
    box-shadow: 0px 10px 30px rgba(27, 28, 32, 0.15);
  }

  .compare_btn {
    width: 30px;
    height: 30px;
    top: -10px;
    right: -10px;
  }

  .compare_btn .compare_icon {
    width: 20px;
    height: 20px;
  }

  .product_photo {
    height: 240px;
  }

  .product_name {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .product_available {
    margin-bottom: 15px;
  }

  .product_bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .product_price {
    margin-bottom: 0;
    padding-right: 10px;
  }

  /*product item*/
  .swiper-pagination.slider_pag {
    margin-top: 15px;
  }

  .swiper-pagination.slider_pag .swiper-pagination-bullet {
    width: 30px;
  }

  /*POPUPS*/
  .choose_city-store {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .big_city-list {
    flex: 0 1 43.5%;
    align-items: center;
    margin-bottom: 0;
  }

  .choose_city-store .dropdown.city_dropdown {
    flex: 0 1 56.5%;
  }

  .swiper-slide.certificate_slide {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
  }

  .swiper.certificate_slider {
    padding: 0 20px;
  }

  .popup.certificate_popup .slider_arrow {
    display: block;
  }

  .certificate_img {
    flex: 0 1 50%;
    margin-bottom: 0;
  }

  .certificate_slide figcaption {
    flex: 0 1 50%;
    padding-left: 30px;
  }

  .popup_swipe-icon {
    display: none;
  }

  /*HEADER*/
  /*FOOTER*/
  /*MAIN_SLIDER*/
  /*CATEGORIES*/
  .swiper.categories_slider .swiper-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  /*PREFERENCE*/
  .categories + .preference {
    padding-bottom: 100px;
    margin-bottom: 120px;
  }

  /*CERTIFICATE TEXT*/
  .certificate_image {
    margin-top: -100px;
  }

  /*PRODUCT PREF*/
  /*MAIN ARTICLE*/
  /*PRODUCT SLIDER*/
  .product_slider {
    margin-bottom: 40px;
  }

  .product_slider .centre {
    padding-right: 15px;
  }

  .product_slider-header {
    padding-right: 0;
  }

  .product_slider-header .swipe_icon {
    display: none;
  }

  .product_slider .slider_arrow {
    display: flex;
    z-index: 3;
  }

  .product_slider .slider_arrow.arrow-prev {
    left: 40px;
  }

  .product_slider .slider_arrow.arrow-next {
    right: 40px;
  }

  .product_swiper .custom-scrollbar {
    margin-right: 0;
  }

  .product_swiper {
    padding: 0 40px;
    margin: 0 -40px;
    width: calc(100% + 80px);
  }

  .product_swiper::before,
.product_swiper::after {
    content: "";
    width: 30px;
    height: 100%;
    background-color: var(--base-color-1);
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .product_swiper::before {
    left: 0;
  }

  .product_swiper::after {
    right: 0;
  }

  .product_swiper .product_item {
    width: 283px;
  }

  .product_swiper .product_item:hover {
    box-shadow: 0px 10px 10px rgba(27, 28, 32, 0.15);
  }

  .product_slider .btn.show_more {
    margin: 30px auto 60px auto;
  }

  /*ONE COL FORM*/
  /*REVIEWS*/
  .reviews {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
  }

  .reviews_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .reviews_header .headline_2 {
    margin-bottom: 0;
    max-width: 600px;
  }

  .reviews_header-rating {
    font-size: 16px;
    align-items: flex-end;
  }

  .reviews-star_wrap b {
    font-size: 36px;
    margin-right: 12px;
  }

  .reviews-star_wrap ul .icon {
    width: 26px;
    height: 26px;
  }

  .reviews_header .swipe_icon {
    display: none;
  }

  .reviews_slider {
    padding: 0 40px;
    margin: 0 -40px;
    width: calc(100% + 80px);
  }

  .reviews_slider::before,
.reviews_slider::after {
    content: "";
    width: 30px;
    height: 100%;
    background-color: var(--base-color-2);
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .reviews_slider::before {
    left: 0;
  }

  .reviews_slider::after {
    right: 0;
  }

  .reviews_slider .slider_arrow {
    display: flex;
    z-index: 3;
  }

  .reviews_slider .slider_arrow.arrow-prev {
    left: 40px;
  }

  .reviews_slider .slider_arrow.arrow-next {
    right: 40px;
  }

  /*INTERIOR*/
  .interior {
    padding-top: 100px;
    padding-bottom: 120px;
    margin-bottom: 100px;
  }

  .interior .centre {
    padding: 0 15px;
  }

  .interior .headline_2 {
    text-align: center;
    padding: 0;
  }

  .interior_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
  }

  .interior_info > span {
    width: 60%;
  }

  .interior_info .show_gallery {
    display: flex;
  }

  .interior_slider + .show_gallery {
    display: none;
  }

  /*TWO COL FORM*/
  .two_col_form {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 120px;
  }

  .interior + .two_col_form {
    margin-top: -100px;
  }

  .two_form-header {
    font-size: 20px;
  }

  .two_form-header .icon {
    flex: 0 0 60px;
    margin-right: 20px;
    height: 60px;
  }

  .two_form-text {
    font-size: 24px;
  }

  /*LAST NEWS*/
}
@media only screen and (min-width: 1024px) {
  /*BASE*/
  BODY, HTML {
    font-size: 16px;
  }

  h1,
.headline_1 {
    font-size: 38px;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 40px 0;
  }

  .headline_2 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 28px 0;
  }

  h2,
.sub_title_1 {
    font-size: 36px;
    line-height: 1.4;
    margin: 0 0 28px 0;
  }

  .sub_title_2 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 26px 0;
  }

  h3,
.sub_title_3 {
    font-size: 32px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0 0 26px 0;
  }

  h4,
.sub_title_4 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 18px 0;
  }

  h5,
.sub_title_5 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0 0 18px 0;
  }

  h6,
.sub_title_6 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 600;
    margin: 0 0 16px 0;
  }

  .btn {
    font-size: 16px;
    padding: 20px 30px;
  }

  .btn.big {
    font-size: 16px;
    padding: 29px 42px;
  }

  .label_text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    height: 70px;
    padding: 0 25px;
    font-size: 16px;
  }

  input[type=text].error, input[type=password].error, input[type=tel].error, input[type=number].error, input[type=email].error, textarea.error {
    background-position: calc(100% - 22px) 20px;
    background-size: 26px;
    padding-right: 50px;
  }

  .close_btn {
    width: 40px;
    height: 40px;
  }

  .close_btn .icon {
    width: 24px;
    height: 24px;
  }

  .slider_arrow {
    width: 80px;
    height: 80px;
  }

  .slider_arrow::before,
.slider_arrow::after {
    width: 14px;
    height: 2px;
  }

  /*POPUPS*/
  .popup.where_buy-popup .headline_2 {
    margin-bottom: 14px;
  }

  .where_popup-text {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .where_box {
    flex-direction: row;
    position: relative;
  }

  .where_box::before {
    content: "";
    width: 43.5%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
  }

  .where_store-list {
    flex: 0 1 43.5%;
    padding-right: 30px;
    max-height: 570px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .big_city-list ul {
    font-size: 16px;
  }

  .stores_map {
    flex: 0 1 56.5%;
    margin-bottom: 0;
  }

  .stores_map > * {
    height: 570px;
  }

  .where_store-list > li {
    padding: 0;
    border-radius: 0;
    border: none;
  }

  .where_store-list > li + li {
    padding-top: 22px;
    margin-top: 22px;
    border-top: 1px solid var(--base-color-3);
  }

  /*HEADER*/
  .top_header .col-1 {
    flex: 0 1 auto;
    padding-right: 10px;
  }

  .header_logo {
    margin-right: 10px;
  }

  .header_logo img.mobile {
    display: none;
  }

  .header_logo img.desktop {
    display: block;
    width: 143px;
    height: 38px;
  }

  .site_header.is_searching .top_header .header_logo {
    display: block;
  }

  body.header_fixed .site_header.is_searching .header_logo {
    display: none;
  }

  .header_slogan {
    font-size: 11px;
    line-height: 1.4;
    color: var(--base-color-5);
  }

  .top_header .header_slogan {
    display: block;
    width: 190px;
  }

  .top_header .col-1 .search_box {
    display: none;
  }

  .top_header .col-2 {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    padding: 0 10px 0 0;
  }

  .header_btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: var(--border-radius);
    transition: 0.3s;
  }

  .header_btn-icon:hover {
    background-color: var(--base-color-4);
  }

  .header_btn-icon .icon {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--base-color-5);
    transition: 0.3s;
  }

  .header_btn-icon:hover .icon {
    fill: var(--main-color-1);
  }

  .header_btn-icon .counter {
    color: var(--base-color-1);
    background-color: var(--main-color-1);
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13px;
    min-width: 13px;
    border-radius: 6px;
    padding: 0 3px;
  }

  .top_header .col-2 .compare_header {
    display: none;
  }

  .header_dropdown {
    position: relative;
  }

  .selected_box {
    text-decoration: none;
    font-size: 13px;
    color: var(--base-color-3);
    display: flex;
    align-items: center;
    padding-right: 22px;
    position: relative;
  }

  .selected_box::before,
.selected_box::after {
    content: "";
    width: 1px;
    height: 6px;
    background-color: var(--base-color-3);
    position: absolute;
    top: 50%;
    right: 10px;
    transform-origin: bottom;
    transition: 0.3s;
  }

  .selected_box::before {
    transform: translateY(-50%) rotate(-45deg);
  }

  .selected_box::after {
    transform: translateY(-50%) rotate(45deg);
  }

  .selected_box:hover::before,
.selected_box:hover::after {
    background-color: var(--main-color-1);
  }

  .selected_box .icon {
    display: block;
    margin-right: 6px;
    width: 16px;
    height: 16px;
  }

  .header_dropdown ul {
    display: none;
    min-width: 100%;
    flex-direction: column;
    background-color: var(--base-color-1);
    border: 1px solid var(--main-color-1);
    border-radius: var(--border-radius);
    padding: 5px;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    z-index: 1;
  }

  .header_dropdown.active ul {
    display: flex;
  }

  .header_dropdown ul li + li {
    margin-top: 3px;
  }

  .header_dropdown ul a {
    text-align: end;
    font-size: 13px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: end;
    transition: 0.3s;
  }

  .header_dropdown ul a:hover {
    color: var(--main-color-1);
  }

  .header_dropdown ul a .icon {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  .header_dropdown.choose_language {
    margin: 0 3%;
  }

  .header_dropdown.choose_language .icon {
    border-radius: 50%;
  }

  .header_dropdown.choose_city {
    margin: 0 3%;
  }

  .header_dropdown.choose_city .icon {
    fill: var(--main-color-1);
  }

  .top_header .col-3 {
    display: flex;
    align-items: center;
  }

  .info_list.header_phones {
    margin-right: 10px;
  }

  .callback_btn.btn.medium {
    margin-right: 10px;
  }

  .mob_menu-btn {
    display: none;
  }

  body.header_fixed {
    padding-top: 67px;
  }

  body.header_fixed .top_header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 3;
  }

  body.header_fixed .header_logo {
    display: none;
  }

  body.header_fixed .top_header .header_slogan {
    display: none;
  }

  body.header_fixed .header_catalog-btn {
    display: flex;
    margin-right: 10px;
    padding: 11px 22px;
    min-height: 40px;
  }

  body.header_fixed .top_header .col-1 .search_box {
    display: block;
    width: 186px;
  }

  body.header_fixed .top_header .col-2 .compare_header {
    display: flex;
  }

  .menu_header {
    display: block;
    background-color: var(--base-color-2);
    padding: 10px 0;
    border-bottom: 1px solid var(--base-color-4);
  }

  .menu_header .centre {
    display: flex;
  }

  .menu_header .top_menu-1lvl {
    flex: 1 1 auto;
    display: flex;
  }

  .menu_header .top_menu-1lvl ul {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    width: 100%;
  }

  .menu_header .top_menu-1lvl li {
    display: flex;
    margin: 0 auto 0 0;
  }

  .menu_header .top_menu-1lvl a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
  }

  .menu_header .top_menu-1lvl a.active,
.menu_header .top_menu-1lvl a.opened_submenu,
.menu_header .top_menu-1lvl a:hover {
    color: var(--main-color-1);
  }

  .menu_header .top_menu-1lvl a.has_drop {
    padding-right: 16px;
  }

  .menu_header .top_menu-1lvl a.has_drop::before {
    content: "";
    width: 6px;
    height: 6px;
    border-bottom: 1px solid var(--base-color-4);
    border-right: 1px solid var(--base-color-4);
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%) rotate(45deg);
    transition: border-color 0.3s;
  }

  .menu_header .top_menu-1lvl a.has_drop:hover::before {
    border-color: var(--main-color-1);
  }

  .menu_header .top_menu-1lvl a.has_drop.opened_submenu::before {
    transform: translateY(-50%) rotate(-135deg);
    margin-top: 3px;
    border-color: var(--main-color-1);
  }

  .menu_header .top_menu-1lvl a::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--main-color-1);
    position: absolute;
    bottom: -10px;
    left: 0;
    opacity: 0;
  }

  .menu_header .top_menu-1lvl a.active::after {
    opacity: 1;
  }

  .menu_header .col-2 {
    display: flex;
    align-items: center;
  }

  .menu_header .col-2 .search_box {
    margin-right: 10px;
  }

  .menu_header.menu_header-search .col-2 {
    flex: 1 1 auto;
  }

  .menu_header.menu_header-search .col-2 .search_box {
    flex: 1 1 auto;
  }

  .menu_header.menu_header-search .top_menu-1lvl {
    display: none;
  }

  .site_header.menu-has_opened {
    z-index: 12;
  }

  .desk-top_menu {
    display: none;
    width: 100%;
    max-height: calc(100vh - 126px);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 12;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--base-color-1);
    box-shadow: 0px 60px 80px rgba(0, 0, 0, 0.4);
  }

  .desk-top_menu::before {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 100%;
    left: 0;
  }

  .desk-top_menu.active {
    display: block;
  }

  .desk-top_menu.active_fixed {
    display: block;
    position: fixed;
    left: 0;
    top: 67px;
    max-height: calc(100vh - 67px);
  }

  .desk-top_menu .centre {
    display: flex;
    align-items: flex-start;
    position: relative;
  }

  .desk-top_menu .menu-1_lvl {
    display: none;
  }

  .desk-top_menu.active_fixed .menu-1_lvl {
    display: flex;
    flex-direction: column;
    flex: 0 1 270px;
    padding: 12px 20px 10px 0;
    margin-right: 20px;
    position: relative;
  }

  .desk-top_menu .menu-1_lvl::before {
    content: "";
    width: 1px;
    height: calc(100% - 22px);
    position: absolute;
    top: 12px;
    right: 0;
    background-color: var(--base-color-4);
  }

  .desk-top_menu .menu-1_lvl a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.2;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: var(--border-radius);
    transition: 0.3s;
  }

  .desk-top_menu .menu-1_lvl a.active {
    background-color: var(--base-color-3);
    color: var(--main-color-1);
  }

  .desk-top_menu .menu-1_lvl a:hover {
    background-color: var(--base-color-3);
  }

  .desk-top_menu .menu-1_lvl a.has_drop::after {
    content: "";
    display: block;
    margin-left: 6px;
    flex: 0 0 6px;
    width: 6px;
    height: 6px;
    position: relative;
    border-bottom: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    transform: rotate(-45deg);
  }

  .desk-top_menu .menu-1_lvl a.active::after {
    border-color: var(--main-color-1);
  }

  .desk-top_menu.active_fixed .menu-2_lvl {
    grid-template-columns: repeat(3, 1fr);
  }

  .desk-top_menu .menu-2_lvl {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 30px 0 60px 0;
  }

  .desk-top_menu .menu-2_lvl li {
    display: flex;
  }

  .desk-top_menu .menu-2_lvl a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid var(--base-color-3);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
  }

  .desk-top_menu .menu-2_lvl a.active,
.desk-top_menu .menu-2_lvl a:hover {
    border-color: var(--main-color-1);
  }

  .desk-top_menu .menu-2_lvl a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color-1);
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
  }

  .desk-top_menu .menu-2_lvl a.active::before {
    opacity: 0.1;
  }

  .desk-top_menu .menu-2_lvl a img {
    display: block;
    height: 100px;
    width: 100%;
    object-fit: contain;
  }

  .desk-top_menu .menu-2_lvl a span {
    font-size: 14px;
    color: var(--text-color);
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .close-top_menu {
    position: absolute;
    top: 0px;
    right: 16px;
    width: 30px;
    height: 30px;
  }

  .close-top_menu:hover {
    background-color: transparent;
  }

  .close-top_menu .icon {
    width: 18px;
    height: 18px;
  }

  body.header_fixed .top_header.top_header-search .col-1 {
    flex: 1 1 auto;
    padding-right: 20px;
  }

  body.header_fixed .top_header.top_header-search .search_box {
    flex: 1 1 auto;
    width: auto;
  }

  body.header_fixed .top_header.top_header-search .col-2 {
    display: none;
  }

  body.header_fixed .top_header.top_header-search .info_list.header_phones {
    display: none;
  }

  .result_box {
    padding-bottom: 12px;
  }

  .result_list {
    display: flex;
    box-shadow: inset 0px -10px 10px rgba(27, 28, 32, 0.15);
    margin-bottom: 12px;
  }

  .result_items {
    width: 50%;
    padding: 0 10px 0 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .popular-result_items {
    width: 50%;
    padding-right: 32px;
  }

  .popular-result_items ul {
    margin-bottom: 0;
    box-shadow: none;
    padding-bottom: 4px;
  }

  .result_items {
    max-height: 274px;
  }

  .result_items a {
    padding: 8px 40px;
  }

  .result_items a:hover {
    color: var(--text-color);
    background-color: var(--main-color-7);
  }

  .popular-result_title {
    padding: 0;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .popular-result_items ul {
    max-height: 245px;
  }

  .popular-result_item {
    padding: 6px;
    border: 1px solid var(--base-color-4);
    border-radius: var(--border-radius);
    transition: 0.3s;
  }

  .popular-result_item:hover {
    border-color: var(--main-color-1);
  }

  .popular-result_items ul li + li {
    margin-top: 4px;
  }

  .popular-result_item img {
    width: 80px;
    height: 70px;
  }

  .popular-item_title {
    font-size: 16px;
    font-weight: 500;
  }

  .popular-price span b {
    font-size: 20px;
  }

  .empty_result {
    padding: 15px 40px;
  }

  /*FOOTER*/
  .site_footer {
    padding: 40px 0 20px;
  }

  .site_footer .centre {
    grid-template-columns: 270px 1fr;
  }

  .footer_menu {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer_menu-list > li + li {
    margin-top: 12px;
  }

  .footer_menu-list a,
.footer_menu-item .info_list ul a {
    font-size: 14px;
  }

  .footer_menu-list .btn.callback_footer {
    padding-left: 22px;
    padding-right: 22px;
  }

  .footer_confident {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .copyright {
    text-align: start;
    margin-bottom: 0;
  }

  .dev {
    text-align: end;
  }

  /*MAIN_SLIDER*/
  .slide_slogan {
    font-size: 32px;
    margin-bottom: 6px;
  }

  .main_slider-item .headline_1 {
    margin-bottom: 40px;
  }

  /*CATEGORIES*/
  .categories.five_columns .swiper.categories_slider .swiper-wrapper,
.categories.four_columns .swiper.categories_slider .swiper-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  /*PREFERENCE*/
  .preference_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /*CERTIFICATE TEXT*/
  .certificate_text {
    margin-bottom: 120px;
  }

  .certificate_list li {
    padding-left: 40px;
  }

  .certificate_list li + li {
    margin-top: 30px;
  }

  .certificate_list .icon.check_icon {
    width: 24px;
    height: 24px;
  }

  .certificate_list li b {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .certificate_image {
    margin-top: -135px;
  }

  /*PRODUCT PREF*/
  .product_pref {
    padding: 100px 0 120px 0;
    margin-bottom: 120px;
  }

  /*MAIN ARTICLE*/
  .main_article {
    margin-bottom: 80px;
  }

  /*ONE COL FORM*/
  .one_col_form {
    margin-bottom: 120px;
  }

  .one_form-text {
    font-size: 20px;
  }

  .one_col_form ul li {
    font-size: 20px;
    padding-left: 33px;
  }

  .one_col_form ul li + li {
    margin-top: 4px;
  }

  .one_col_form ul .icon {
    width: 13px;
    height: 13px;
    left: 10px;
    top: 10px;
  }

  /*REVIEWS*/
  .review_item {
    width: 373px;
  }

  /*INTERIOR*/
  .interior_info > span {
    font-size: 24px;
  }

  /*TWO COL FORM*/
  /*LAST NEWS*/
}
@media only screen and (min-width: 1190px) {
  /*BASE*/
  .to_up {
    left: calc(50% - 650px);
  }

  /*POPUPS*/
  /*HEADER*/
  body.header_fixed .header_catalog-btn {
    margin-right: 30px;
  }

  .top_header .col-1 {
    padding-right: 20px;
  }

  .info_list.header_phones {
    margin-right: 20px;
  }

  .header_dropdown.choose_language {
    margin: 0 5%;
  }

  body.header_fixed .top_header .col-2 .compare_header {
    margin: 0 5% 0 0;
  }

  .desk-top_menu .menu-2_lvl {
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
  }

  .desk-top_menu.active_fixed .menu-2_lvl {
    grid-template-columns: repeat(4, 1fr);
  }

  .desk-top_menu.active_fixed .menu-1_lvl {
    margin-right: 30px;
  }

  /*FOOTER*/
  /*MAIN_SLIDER*/
  /*CATEGORIES*/
  .categories.five_columns .swiper.categories_slider .swiper-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }

  /*PREFERENCE*/
  .categories + .preference .preference_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  /*CERTIFICATE TEXT*/
  /*PRODUCT PREF*/
  /*MAIN ARTICLE*/
  /*ONE COL FORM*/
  /*REVIEWS*/
  /*INTERIOR*/
  /*TWO COL FORM*/
  /*LAST NEWS*/
}
@media only screen and (min-width: 1264px) {
  .popup.video_popup .close_btn {
    top: 0;
    right: -40px;
  }

  .product_slider .slider_arrow.arrow-prev {
    left: 0;
  }

  .product_slider .slider_arrow.arrow-next {
    right: 0;
  }

  .reviews_slider .slider_arrow.arrow-prev {
    left: 0;
  }

  .reviews_slider .slider_arrow.arrow-next {
    right: 0;
  }
}