@media only screen and (min-width: 480px) {
  /*BASE*/
  /*HEADER*/
}
@media only screen and (min-width: 640px) {
  /*BASE*/
  /*HEADER*/
}
@media only screen and (min-width: 768px) {
  /*BASE*/
  /*HEADER*/
}
@media only screen and (min-width: 1024px) {
  /*BASE*/
  BODY, HTML {
    font-size: 16px;
  }

  h1,
.headline_1 {
    font-size: 38px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  .headline_2 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  h2,
.sub_title_1 {
    font-size: 36px;
    line-height: 1.4;
    margin: 0;
  }

  .sub_title_2 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  h3,
.sub_title_3 {
    font-size: 32px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0;
  }

  h4,
.sub_title_4 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  h5,
.sub_title_5 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
  }

  h6,
.sub_title_6 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  .btn {
    font-size: 16px;
    padding: 20px 30px;
  }

  .btn.big {
    font-size: 16px;
    padding: 29px 42px;
  }

  .label_text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    height: 70px;
    padding: 0 25px;
    font-size: 16px;
  }

  input[type=text].error, input[type=password].error, input[type=tel].error, input[type=number].error, input[type=email].error, textarea.error {
    background-position: calc(100% - 22px) 20px;
    background-size: 26px;
    padding-right: 50px;
  }

  /*HEADER*/
}
@media only screen and (min-width: 1280px) {
  /*BASE*/
  BODY, HTML {
    font-size: 16px;
  }

  h1,
.headline_1 {
    font-size: 38px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  .headline_2 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  h2,
.sub_title_1 {
    font-size: 36px;
    line-height: 1.4;
    margin: 0;
  }

  .sub_title_2 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  h3,
.sub_title_3 {
    font-size: 32px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0;
  }

  h4,
.sub_title_4 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  h5,
.sub_title_5 {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 400;
    margin: 0;
  }

  h6,
.sub_title_6 {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
  }

  .btn {
    font-size: 16px;
    padding: 20px 30px;
  }

  .btn.big {
    font-size: 16px;
    padding: 29px 42px;
  }

  .label_text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    height: 70px;
    padding: 0 25px;
    font-size: 16px;
  }

  input[type=text].error, input[type=password].error, input[type=tel].error, input[type=number].error, input[type=email].error, textarea.error {
    background-position: calc(100% - 22px) 20px;
    background-size: 26px;
    padding-right: 50px;
  }

  /*HEADER*/
}