@charset "UTF-8";
/*FONTS*/
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-SemiBold.eot");
  src: url("./../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("./../fonts/Inter-SemiBold.woff") format("woff"), url("./../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Regular.eot");
  src: url("./../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("./../fonts/Inter-Regular.woff") format("woff"), url("./../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* variables */
:root {
  --success: #39A65E;
  --warning: #e1c300;
  --danger: #E61801;
  --base-color-1: #FFFFFF;
  --base-color-2: #F6F6F6;
  --base-color-3: #EBECF2;
  --base-color-4: #CECFD9;
  --base-color-5: #AAAAB2;
  --base-color-6: #85858A;
  --base-color-7: #626366;
  --base-color-8: #333333;
  --base-color-9: #1E1E1E;
  --main-color-1: #FF6E00;
  --main-color-2: #FF9C51;
  --main-color-3: #D95E00;
  --main-color-4: #E5D0BD;
  --main-color-5: #F7C398;
  --main-color-6: #FFD8BB;
  --main-color-7: #FFEFE2;
  --text-color: var(--base-color-9);
  --text-light: var(--base-color-5);
  --text-contrast: var(--base-color-1);
  --border-radius: 6px;
}

/*RESETS*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

menu,
ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*DROPDOWN*/
.dropdown {
  position: relative;
  height: 46px;
  transition: width 0.3s;
}

.dropdown_short {
  width: 68px;
  height: 30px;
  margin: 0 20px;
  color: #1d1d1d;
}

.dropdown_short:hover .drop_arrow {
  background-color: #5ead5a;
}

.dropdown.dropdown-open {
  z-index: 1;
}

.dropdown.dropdown_short.dropdown-open {
  width: 68px;
}

.dropdown .overflow {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 0;
  position: relative;
  float: left;
  background-color: var(--base-color-1);
  border: 1px solid var(--base-color-4);
  border-radius: var(--border-radius);
}

.dropdown.dropdown-open .overflow {
  border-color: var(--main-color-1);
  z-index: 1;
}

.dropdown.short .overflow {
  width: 138px;
}

.dropdown.dropdown-open .overflow {
  z-index: 10;
}

.dropdown Span {
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.2;
  cursor: pointer;
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  z-index: 2;
}

.dropdown_short Span {
  padding: 0 10px;
}

.dropdown UL {
  position: absolute;
  top: 40px;
  padding-top: 12px;
  width: 100%;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 4;
  margin: 0;
  border-top: none;
  overflow-y: auto;
  display: none;
}

.dropdown_short ul {
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  top: 28px;
  overflow: auto;
}

.dropdown UL LI {
  position: relative;
  float: left;
  background: none;
  width: 100%;
  font-size: 15px;
  line-height: 1.2;
}

.dropdown_short UL LI {
  border: none;
}

.dropdown UL LI A {
  font-size: 14px;
  width: 100%;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  float: left;
  padding: 8px 15px;
  transition: 0.3s;
}

.dropdown_short ul li a {
  color: #1d1d1d;
  text-align: center;
  padding: 6px 0;
}

.dropdown UL LI A:hover {
  background-color: var(--main-color-7);
  color: var(--text-color);
}

.dropdown_short ul li a:hover {
  background-color: #e6e6e6;
  color: initial;
}

.dropdown UL LI A.selected {
  display: none;
}

.drop_arrow {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  transition: background-color 0.3s;
  cursor: pointer;
}

.drop_arrow::after,
.drop_arrow::before {
  content: "";
  width: 1px;
  height: 8px;
  background-color: var(--base-color-4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: bottom;
  transition: 0.3s;
}

.drop_arrow::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.drop_arrow::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.dropdown-open .drop_arrow::after,
.dropdown-open .drop_arrow::before {
  transform-origin: top;
}

.dropdown-open .drop_arrow::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.dropdown-open .drop_arrow::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown_short .drop_arrow {
  right: -1px;
  top: -1px;
  background-color: #70c46a;
  border-radius: 0 3px 3px 0;
  width: 31px;
  height: 30px;
}

.dropdown_short .drop_arrow:after {
  border-width: 6px 3.5px 0 3.5px;
  border-color: #fff transparent transparent transparent;
  margin-left: -3.5px;
}

.dropdown_alt {
  width: 100%;
  height: 50px;
  color: #504f4f;
}

.dropdown_alt span {
  font-size: 16px;
}

.dropdown_alt .drop_arrow {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #73c86d;
  width: 50px;
  height: 50px;
  right: -1px;
  top: -1px;
}

.dropdown_alt .drop_arrow:hover {
  background-color: var(--main-active-color);
}

.dropdown_alt .drop_arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
  margin: -5.5px 0 0 -8px;
}

.dropdown_alt ul {
  border: none;
  top: calc(100% + 1px);
}

.dropdown_alt UL LI {
  font-size: 16px;
  border: none;
}

.dropdown_alt UL LI A {
  background-color: #f7f7f7;
  border-right: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  color: #504f4f;
  padding: 14px 20px;
}

.dropdown_alt UL LI + LI A {
  border-top: 1px solid #d7d7d7;
}

.dropdown_alt UL LI:last-child A {
  border-bottom: 1px solid #d7d7d7;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.dropdown_alt UL LI A:hover {
  border-color: #73c86d;
}

.dropdown_alt UL LI:hover + LI A {
  border-top-color: #73c86d;
}

.dropdown_alt.dropdown-open {
  width: initial;
}

.dropdown_alt.dropdown-open .drop_arrow {
  border-bottom-right-radius: 0;
}

.dropdown_sm {
  background-color: #fff;
  height: 45px;
}

.dropdown_sm .drop_arrow {
  width: 45px;
  height: 45px;
}

.dropdown_sm .drop_arrow:after {
  border-width: 8px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
  margin: -4px 0 0 -6px;
}

.options_dropdown_list UL LI {
  position: relative;
  padding: 0 0 0 10px;
}

.options_dropdown_list UL LI:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 11px;
}

.options_dropdown_list UL LI A {
  text-decoration: none;
  color: #117f8a;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.options_dropdown_list UL LI A:hover {
  color: #000;
}

.options_dropdown_tile UL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 0;
}

.options_dropdown_tile UL LI {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0 3px 3px 0;
}

.options_dropdown_tile UL LI A {
  text-decoration: none;
  background-color: #f3f3f3;
  color: #000;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.options_dropdown_tile UL LI A:hover {
  background-color: #117f8a;
  color: #fff;
}

.options_dropdown_tile UL LI.disabled {
  opacity: 0.5;
}

.options_dropdown_tile UL LI.disabled a {
  cursor: default;
}

.options_dropdown_tile UL LI.disabled a:hover {
  background-color: #f3f3f3;
  color: #000;
}

/*BASE*/
BODY, HTML {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  min-width: 360px;
  height: 100%;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--base-color-1);
}

body.overflow {
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  flex: 1 0 auto;
}

h1,
.headline_1 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.headline_2 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 10px 0;
}

h2,
.sub_title_1 {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 10px 0;
}

.sub_title_2 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 8px 0;
}

h3,
.sub_title_3 {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  margin: 0 0 8px 0;
}

h4,
.sub_title_4 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 7px 0;
}

h5,
.sub_title_5 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  margin: 0 0 7px 0;
}

h6,
.sub_title_6 {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 700;
  margin: 0 0 7px 0;
}

.btn {
  color: var(--base-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  padding: 15px 22px;
  background-color: var(--main-color-1);
  border-radius: var(--border-radius);
  position: relative;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid var(--main-color-1);
}

.btn .icon {
  flex: 0 0 18px;
  fill: var(--base-color-1);
  width: 18px;
  height: 18px;
  margin: 0 12px 0 0;
  transition: 0.3s;
}

.btn span {
  text-align: center;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--main-color-2);
  border-color: var(--main-color-2);
}

.btn:active {
  background-color: var(--main-color-3);
  border-color: var(--main-color-3);
}

.btn.loading span,
.btn.loading .icon {
  opacity: 0;
}

.btn.loading::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 4px solid white;
  border-left: 4px solid rgba(255, 255, 255, 0.2);
  border-bottom: 4px solid rgba(255, 255, 255, 0.2);
  border-right: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: loader-btn 1s linear infinite;
}

.btn.loading:hover {
  background-color: var(--main-color-1);
  border-color: var(--main-color-1);
}

.btn[disabled],
.btn.disabled {
  pointer-events: none;
  background-color: var(--main-color-4);
  border-color: var(--main-color-4);
}

.btn.outline {
  background-color: transparent;
  color: var(--main-color-1);
}

.btn.outline .icon {
  fill: var(--main-color-1);
}

.btn.outline:hover {
  color: var(--base-color-1);
  background-color: var(--main-color-1);
  border-color: var(--main-color-1);
}

.btn.outline:hover .icon {
  fill: var(--base-color-1);
}

.btn.outline:active {
  color: var(--base-color-1);
  background-color: var(--main-color-3);
  border-color: var(--main-color-3);
}

.btn.outline:active .icon {
  fill: var(--base-color-1);
}

.btn.outline.loading {
  border-color: var(--main-color-3);
}

.btn.outline.loading::before {
  border-top: 4px solid #d95e00;
  border-left: 4px solid rgba(217, 94, 0, 0.2);
  border-bottom: 4px solid rgba(217, 94, 0, 0.2);
  border-right: 4px solid rgba(217, 94, 0, 0.2);
}

.btn.outline.loading:hover {
  background-color: transparent;
  border-color: var(--main-color-3);
}

.btn.outline[disabled],
.btn.outline.disabled {
  background-color: transparent;
  border-color: var(--main-color-4);
  color: var(--main-color-4);
}

.btn.outline[disabled] .icon,
.btn.outline.disabled .icon {
  fill: var(--main-color-4);
}

.btn.medium {
  font-weight: 600;
  font-size: 12px;
  padding: 15px 22px;
}

.btn.medium .icon {
  flex: 0 0 14px;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.btn.medium.loading::before {
  width: 24px;
  height: 24px;
}

.btn.small {
  font-weight: 700;
  font-size: 10px;
  padding: 9px 14px;
}

.btn.small .icon {
  flex: 0 0 12px;
  width: 12px;
  height: 12px;
  margin-right: 7px;
}

.btn.small.loading::before {
  width: 18px;
  height: 18px;
  border-width: 3px;
}

.btn.big {
  font-weight: 700;
  font-size: 12px;
  padding: 15px 20px;
}

.btn.big.loading::before {
  width: 30px;
  height: 30px;
}

@keyframes loader-btn {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.btn_text {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.4;
  color: var(--main-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 11px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}

.btn_text:hover {
  background-color: var(--main-color-7);
}

.btn_text span {
  transition: 0.3s;
}

.btn_text .icon {
  fill: var(--main-color-1);
  transition: 0.3s;
  width: 20px;
  height: 20px;
}

.btn_text > span + .icon {
  margin-left: 8px;
}

.btn_text > .icon + span {
  margin-left: 8px;
}

.btn_text.disabled {
  pointer-events: none;
  color: var(--main-color-4);
}

.btn_text.disabled .icon {
  fill: var(--main-color-4);
}

.close_btn {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}

.close_btn:hover {
  background-color: var(--base-color-3);
}

.close_btn .icon {
  width: 24px;
  height: 24px;
  fill: var(--base-color-4);
  transition: 0.3s;
}

.close_btn:hover .icon {
  fill: var(--main-color-1);
}

.checkbox_styled {
  position: relative;
}

.checkbox_styled input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
}

.checkbox_styled input + span {
  padding-left: 25px;
  font-size: 13px;
  line-height: 1.3;
  position: relative;
  cursor: pointer;
}

.checkbox_styled input + span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid var(--base-color-4);
  border-radius: 2px;
  transition: 0.3s;
}

.checkbox_styled input + span:hover::before {
  border: 1px solid var(--main-color-3);
}

.checkbox_styled input:focus + span::before {
  border: 2px solid var(--main-color-3);
}

.checkbox_styled input:checked + span::before {
  border: 1px solid var(--main-color-3);
  background-color: var(--main-color-3);
}

.checkbox_styled input[type=checkbox] + span::after {
  content: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.53981 8.90501C4.24754 8.90501 3.95529 8.7902 3.78829 8.56059L1.45024 5.80518C1.11622 5.42249 1.19974 4.88672 1.61725 4.58056C2.03475 4.2744 2.61926 4.35095 2.95328 4.73364L4.53981 6.60885L8.04691 2.43748C8.38092 2.05479 8.96544 1.97824 9.38294 2.2844C9.80044 2.59056 9.88396 3.12633 9.54995 3.50902L5.29133 8.56059C5.08257 8.75193 4.83208 8.90501 4.53981 8.90501Z' fill='white'/%3E%3C/svg%3E");
  width: 11px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: 0.3s;
}

.checkbox_styled input[type=radio] + span::before {
  border-radius: 50%;
  border-width: 1px;
  background-color: transparent;
}

.checkbox_styled input[type=radio] + span::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid var(--base-color-4);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 0;
  transition: 0.3s;
}

.checkbox_styled input[type=radio]:focus + span::after {
  opacity: 1;
}

.checkbox_styled input[type=radio]:checked + span::after {
  opacity: 1;
  background-color: var(--main-color-3);
  border-color: var(--main-color-3);
}

.checkbox_styled input[type=checkbox]:checked + span::after {
  opacity: 1;
}

.checkbox_styled input[disabled] + span {
  pointer-events: none;
  opacity: 0.5;
}

.input_wrap {
  display: flex;
  flex-direction: column;
}

.label_text {
  font-size: 14px;
  line-height: 1.2;
  color: var(--text-color);
  margin-bottom: 6px;
  transition: 0.3s;
}

input,
textarea {
  min-width: 1px;
  font-size: 14px;
  color: var(--text-color);
  height: 46px;
  padding: 0 15px;
  border: 1px solid var(--base-color-4);
  border-radius: var(--border-radius);
  transition: border-color 0.3s, background-color 0.3s;
}

input.small {
  height: 46px;
  padding: 0 15px;
}

textarea {
  padding-top: 10px;
  height: 120px;
  resize: none;
}

input[type=text].error, input[type=password].error, input[type=tel].error, input[type=number].error, input[type=email].error, textarea.error {
  background-size: 22px;
  padding-right: 35px;
  border-color: var(--danger);
  background-image: url("../images/danger.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 11px) 11px;
}

input[type=text].small.error, input[type=password].small.error, input[type=tel].small.error, input[type=number].small.error, input[type=email].small.error {
  padding-right: 35px;
  background-size: 22px;
  background-position: calc(100% - 11px) 11px;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=email]:focus, textarea:focus {
  border-color: var(--main-color-1);
  outline: 0;
  outline-offset: 0;
}

input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.input_message {
  color: var(--base-color-6);
  font-size: 11px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

.input_message.success {
  color: var(--success);
}

.input_message.error {
  color: var(--danger);
}

.input_message .icon {
  margin-right: 6px;
}

a.site_link,
a:not([class]) {
  font-size: inherit;
  text-decoration: none;
  color: var(--main-color-1);
  transition: 0.3s;
}

a.site_link:hover,
a:not([class]):hover {
  color: var(--main-color-2);
}

a.site_link.disabled {
  color: var(--main-color-4);
  pointer-events: none;
}

a.site_link.black {
  color: var(--base-color-9);
}

a.site_link.black:hover {
  color: var(--main-color-1);
}

a.site_link.black.disabled {
  pointer-events: none;
  color: var(--base-color-3);
}

a.site_link.gray {
  color: var(--base-color-4);
}

a.site_link.gray:hover {
  color: var(--main-color-1);
}

a.site_link.gray.disabled {
  pointer-events: none;
  color: var(--base-color-4);
}

article li {
  position: relative;
  padding-left: 10px;
}

article li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 7px;
}

a:not([class]):active {
  color: inherit;
  /* НЕ УДАЛЯТИ */
}

.centre {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  width: 100%;
  max-width: 1190px;
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
}

.shadow {
  font-size: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1E1E1E;
  opacity: 0.5;
  z-index: 10;
}

.hidden {
  display: none !important;
}

/*HEADER*/
.site_header {
  z-index: 1;
  position: relative;
}

.site_header.is_searching {
  z-index: 12;
}

.top_header {
  color: var(--text-contrast);
  background-color: var(--base-color-9);
  padding: 10px 0;
}

.top_header .centre {
  display: flex;
  align-items: center;
}

.top_header .col-1 {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.site_header.is_searching .top_header .col-1 {
  padding-right: 0;
}

.header_logo {
  display: block;
  margin-right: 20px;
}

.top_header.top_header-search .header_logo {
  display: none;
}

.header_logo img.mobile {
  display: block;
  width: 40px;
  height: 40px;
}

.header_logo img.desktop {
  display: none;
}

.top_header .header_slogan {
  display: none;
}

.header_catalog-btn {
  display: none;
}

.top_header .search_box {
  width: 100%;
}

.top_header .col-2 {
  display: none;
}

.top_header .col-3 {
  display: none;
}

.mob_menu-btn {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.mob_menu-btn .icon {
  fill: var(--main-color-1);
  display: block;
  width: 26px;
  height: 26px;
}

.top_header.top_header-search .mob_menu-btn {
  display: none;
}

.menu_header {
  display: none;
}

.mobile_menu {
  color: var(--base-color-1);
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--base-color-8);
  z-index: 12;
}

.mobile_menu.active {
  display: flex;
}

.mobile_menu-header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  min-height: 62px;
  background-color: var(--base-color-9);
}

.mobile_menu-logo {
  display: block;
  margin-right: 10px;
  width: 120px;
  height: 32px;
}

.mobile_menu-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mobile_menu .header_slogan {
  display: flex;
  align-items: center;
  width: calc(100% - 200px);
  max-height: 46px;
  overflow: hidden;
  font-size: 11px;
  line-height: 1.4;
  color: var(--base-color-5);
}

.close-mobile_menu {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.close-mobile_menu .icon {
  width: 24px;
  height: 24px;
  fill: var(--base-color-5);
}

.mobile_menu-body {
  padding: 0 10px;
}

.mobile_menu hr {
  width: 100%;
  margin: 10px 0;
  border-color: var(--base-color-7);
}

.mob-choose_lang {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.mob-choose_lang a {
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  color: var(--text-contrast);
  display: flex;
  align-items: center;
  padding: 6px 15px;
  border-radius: var(--border-radius);
}

.mob-choose_lang a.active {
  background-color: var(--base-color-6);
}

.mob-choose_lang a .icon {
  margin-right: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.mobile_item-link {
  text-decoration: none;
  color: var(--text-contrast);
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}

li.active > .mobile_item-link {
  color: var(--main-color-1);
}

.mobile_item-link.has_drop {
  padding-right: 10px;
}

.mobile_item-link.has_drop::after {
  content: "";
  width: 6px;
  height: 6px;
  border-bottom: 1px solid var(--base-color-6);
  border-right: 1px solid var(--base-color-6);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(-45deg);
}

.mobile_item-link .icon {
  display: block;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  fill: var(--base-color-5);
}

.mobile_item-link.mob-choose_city .icon {
  fill: var(--main-color-1);
  width: 14px;
  height: 14px;
}

.mobile_menu-phone {
  display: flex;
  padding: 10px 0;
}

.mobile_menu-phone > .icon {
  fill: var(--main-color-1);
  margin-right: 8px;
  width: 14px;
  height: 14px;
}

.mobile_menu-phone ul a {
  text-decoration: none;
  font-size: 13px;
  color: var(--text-contrast);
}

.mobile_menu-phone .btn {
  margin-left: auto;
  padding: 9px 25px;
}

.mobile_social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.mobile_social li {
  margin: 0 15px;
}

.mobile_social .icon {
  display: block;
  width: 25px;
  height: 25px;
  fill: var(--base-color-5);
}

.sub_menu-box {
  position: fixed;
  top: 62px;
  left: 100%;
  width: 100%;
  height: calc(100% - 62px);
  background-color: var(--base-color-1);
  padding: 57px 10px 10px 10px;
  transition: left 0.3s;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.sub_menu-box.active {
  left: 0;
}

.back_mob-top {
  color: var(--text-contrast);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  display: table-row;
  padding: 12px 10px 0 16px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 47px;
  background-color: var(--base-color-8);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back_mob-top::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 1px solid var(--base-color-6);
  border-left: 1px solid var(--base-color-6);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%) rotate(45deg);
}

.mob_grid-photo {
  display: flex;
  flex-wrap: wrap;
}

.mob_grid-photo > li {
  display: flex;
  width: 50%;
  padding: 6px;
  border: 1px solid var(--base-color-3);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.mob_grid-photo > li.active {
  position: relative;
  z-index: 1;
  border-color: var(--main-color-1);
}

.mob_grid-photo > li.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-1);
  z-index: -1;
  opacity: 0.1;
}

.mob_grid-photo > li:nth-child(2n+1) {
  margin: 0 -1px -1px 0;
}

.mob_grid-photo > li:nth-child(2n+2) {
  margin: 0 0 -1px 0;
}

.mob_grid-photo > li > a {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mob_grid-photo > li > a > img {
  display: block;
  margin-bottom: 6px;
  width: 100%;
  height: 122px;
  object-fit: contain;
}

.mob_grid-photo > li > a > span {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 12px;
  line-height: 1.2;
  max-height: 30px;
  text-align: center;
  margin: auto 0;
}

.desk-top_menu {
  display: none;
}

.search_box {
  position: relative;
  z-index: 1;
}

.search_box.not_active {
  pointer-events: none;
  opacity: 0.7;
}

.search_form {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 2;
  position: relative;
}

.search_text {
  display: flex;
  position: relative;
  flex: 1 1 auto;
}

.search_form .search_icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--main-color-1);
}

.search_form input[type=text] {
  width: 100%;
  padding-left: 40px;
  height: 40px;
}

.search_box.dark .search_form input[type=text] {
  color: var(--base-color-2);
  background-color: var(--base-color-8);
  border-color: var(--base-color-6);
}

.search_box.dark .search_form input[type=text]::placeholder {
  color: var(--base-color-4);
}

.delete_content {
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}

.delete_content .icon {
  fill: var(--base-color-5);
  width: 18px;
  height: 18px;
  transition: 0.3s;
}

.delete_content:hover .icon {
  fill: var(--main-color-1);
}

.search_form .btn {
  display: none;
  min-height: 40px;
  padding: 10px 22px;
  margin: 0 0 0 -6px;
}

.search_box.search_opened .search_form input[type=text] {
  padding-right: 46px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border-color: var(--main-color-1);
}

.search_box.search_opened .delete_content {
  display: flex;
}

.search_box.search_opened .search_form .btn {
  display: flex;
}

.result_box {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: calc(100% - 6px);
  z-index: 1;
  padding-top: 14px;
  background-color: var(--base-color-1);
  border: 1px solid var(--base-color-4);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  padding-bottom: 10px;
}

.search_box.search_opened .result_box {
  display: flex;
}

.empty_result {
  display: block;
  width: 100%;
  font-size: 14px;
  color: var(--text-light);
  padding: 16px;
}

.result_list {
  width: 100%;
}

.result_items {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 20px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  border-bottom: 1px solid var(--base-color-4);
}

.result_items a {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.2;
  display: block;
  padding: 8px 16px;
  transition: 0.3s;
}

.popular-result_title {
  color: var(--text-color);
  display: block;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  padding: 0 15px;
  margin-bottom: 15px;
}

.popular-result_items ul {
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: inset 0px -13px 10px rgba(27, 28, 32, 0.15);
  margin-bottom: 10px;
  padding-bottom: 12px;
}

.popular-result_item {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

.popular-result_item img {
  display: block;
  margin-right: 5px;
  object-fit: contain;
  width: 50px;
  height: 45px;
}

.popular-item_title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  flex: 1 1 auto;
  padding-right: 10px;
  max-height: 34px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.popular-price {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
}

.popular-price del {
  font-size: 11px;
  line-height: 1.2;
  color: var(--text-light);
  white-space: nowrap;
}

.popular-price span {
  font-size: 11px;
  line-height: 1.2;
  font-weight: 600;
  white-space: nowrap;
}

.popular-price span b {
  font-size: 16px;
  font-weight: 600;
}

.search-loading_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 18px;
}

.search-loading_list li {
  display: block;
  width: 100%;
  height: 20px;
  background-color: var(--base-color-3);
  border-radius: var(--border-radius);
}

.search-loading_list li + li {
  margin-top: 20px;
}