/*CATEGORIES*/

.categories {
    margin-bottom: 60px;
}

.main_slider + .categories {
    margin-top: -145px;
    padding-bottom: 30px;
    position: relative;
}

.main_slider + .categories::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--base-color-2);
    z-index: -1;
}

.categories .centre {
    display: flex;
    flex-direction: column;
}

.categories_header {
    display: flex;
    flex-direction: column;
    position: relative;
}

.categories_header-text {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--base-color-7);
}

.main_slider + .categories .categories_header-text {
    display: none;
}

.categories .headline_1 {
    padding-right: 30px;
}

.main_slider + .categories .headline_1 {
    display: none;
}

.swipe_icon {
    width: 24px;
    height: 24px;
    fill: var(--base-color-6);
    margin: 0 0 10px auto;
}

.categories_header .swipe_icon {
    position: absolute;
    bottom: 20px;
    right: 0;
    margin: 0;
}

.swiper.categories_slider {
    margin: -16px -15px 0 -15px;
    width: calc(100% + 30px);
    padding: 16px 10px 0 10px;
}

.custom-scrollbar {
    margin-top: 15px;
    margin-bottom: 18px;
}

.categories_item {
    font-weight: 600;
    text-decoration: none;
    font-size: 11px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 10px;
    width: 158px;
    height: auto;
    background-color: var(--base-color-1);
    border-radius: var(--border-radius);
    box-shadow: 0px 10px 30px rgba(27, 28, 32, 0.15);
}

.categories_item img {
    display: flex;
    margin-bottom: 6px;
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.categories_item span {
    text-align: center;
    margin: auto 0;
    max-height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.show_catalog {
    margin-top: 10px;
}