/*CATALOG DETAILS*/
.catalog_details {
    margin-bottom: 80px;
}

.product_navigation {
    background-color: var(--base-color-2);
    border-bottom: 1px solid var(--base-color-3);
}

.product_navigation ul {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product_navigation ul::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.product_navigation ul li {
    flex: 0 0 auto;
}

.product_navigation ul a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 11px;
    font-weight: 600;
    display: flex;
    padding: 8px 0;
    margin: 0 16px 0 0;
    transition: 0.3s;
    position: relative;
}

.product_navigation ul a:hover {
    color: var(--main-color-1);
}

.product_navigation ul a.active {
    color: var(--main-color-1);
}

.product_navigation ul a::before {
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--main-color-1);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    opacity: 0;
}

.product_navigation ul a.active::before {
    opacity: 1;
}

.cat_details-banner picture {
    display: block;
    width: 100%;
    height: auto;
}

.cat_details-banner picture img {
    display: block;
    width: 100%;
    height: auto;
}

.cat_details-banner .centre {
    display: none;
}

.cat_details-info {
    padding-top: 16px;
    margin-bottom: 40px;
}

.cat_details-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.cat_details-code {
    font-size: 11px;
    color: var(--text-light);
    margin-bottom: 5px;
}

.cat_details-header .headline_1 {
    margin-bottom: 5px;
}

.cat_details-info > .centre > .col-1 {
    position: relative;
}

.big_slider {
    width: calc(100% + 30px);
    margin: 0 -15px;
    overflow: hidden;
}

.big_slider:not(.swiper-initialized) {
    display: flex;
    overflow: hidden;
}

.big_slider .swiper-slide {
    height: 360px;
}

.big_slider:not(.swiper-initialized) .swiper-slide {
    flex: 0 0 100%;
}

.big_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid var(--base-color-3);
    border-radius: var(--border-radius);
}

.big_slider .slider_arrow.arrow-prev {
    left: 10px;
}

.big_slider .slider_arrow.arrow-next {
    right: 10px;
}

.big_slider .swiper-pagination.slider_pag .swiper-pagination-bullet {
    background-color: var(--main-color-6);
}

.big_slider .swiper-pagination.slider_pag .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--main-color-1);
}

.mini_slider {
    display: none;
}

.cat_details-status {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: absolute;
    top: 15px;
    left: 15px;
    max-width: calc(100% - 30px);
}

.cat_details-status li {
    font-size: 11px;
    color: var(--text-contrast);
    padding: 1px 6px;
    background-color: var(--danger);
    margin-right: 5px;
}

.cat_details-info > .centre > .col-2 {
    display: flex;
    flex-direction: column;
}

.cat_details-info > .centre > .col-2 .cat_details-code {
    display: none;
}

.cat_details-info > .centre > .col-2 .headline_1 {
    display: none;
}

.cat_details-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.cat_details-available {
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    color: var(--success);
    position: relative;
}

.cat_details-available.not-available {
    color: var(--base-color-6);
}

.cat_details-available::before {
    content: "";
    display: block;
    margin-right: 8px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--success);
    position: relative;
}

.cat_details-available.not-available::before {
    display: none;
}

.cat_details-available::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--success);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}

.cat_details-available.not-available::after {
    background-color: var(--base-color-6)
}

.cat_details-compare {
    display: flex;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: var(--base-color-6);
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: var(--border-radius);
    transition: 0.3s;
}

.cat_details-compare.active {
    color: var(--text-color);
}

.cat_details-compare:hover {
    background-color: var(--base-color-2);
    color: var(--main-color-1)
}

.cat_details-compare .icon_wrap {
    position: relative;
    margin-right: 12px;
}

.cat_details-compare.active .icon_wrap::before {
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    top: -6px;
    right: -6px;
    border-radius: 50%;
    background-color: var(--success);
}

.cat_details-compare.active .icon_wrap::after {
    content: "";
    width: 6px;
    height: 4px;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    position: absolute;
    top: -3px;
    right: -3px;
    transform: rotate(-45deg);
}

.cat_details-compare .icon {
    width: 24px;
    height: 24px;
    fill: var(--base-color-6);
    transition: 0.3s;
}

.cat_details-compare.active .icon {
    fill: var(--text-color);
}

.cat_details-compare:hover .icon {
    fill: var(--main-color-1)
}

.prise_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 18px;
}

.prise_wrap del {
    width: 100%;
    font-size: 16px;
    color: var(--text-light);
}

.prise_wrap .product_price {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px 0 0;
}

.prise_wrap .product_price b {
    font-size: 32px;
}

.prise_wrap .saving_money {
    font-size: 13px;
    color: var(--text-light);
    margin-bottom: 7px;
}

.prise_wrap .saving_money b {
    color: var(--success);
    font-weight: 600;
}

.price_btns {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.price_btns .buy_btn {
    margin-bottom: 10px;
}

.price_btns .find_dealer {
    font-size: 10px;
    padding: 7px;
}

.energy_saving {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 38px;
}

.energy_saving-title {
    font-size: 13px;
    color: var(--text-light)
}

.energy_saving-icon {
    text-decoration: none;
    color: var(--text-contrast);
    display: flex;
    align-items: center;
    height: 24px;
    font-size: 16px;
    margin-right: 11px;
    padding: 0 11px;
    border-radius: 3px 0 0 3px;
    position: relative;
}

.energy_saving-icon:hover {
    text-decoration: underline;
}

.energy_saving-icon::after {
    content: "";
    width: 11px;
    height: 24px;
    border-left: 11px solid;
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-right: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.energy_saving-icon.a-plus-plus {
    background-color: #00a750;
}

.energy_saving-icon.a-plus-plus::after {
    border-left-color: #00a750;
}

.energy_saving-icon.a-plus {
    background-color: #50b948;
}

.energy_saving-icon.a-plus::after {
    border-left-color: #50b948;
}

.energy_saving-icon.a {
    background-color: #bfd72e;
}

.energy_saving-icon.a::after {
    border-left-color: #bfd72e;
}

.energy_saving-icon.b {
    background-color: #fdef04;
}

.energy_saving-icon.b::after {
    border-left-color: #fdef04;
}

.energy_saving-icon.c {
    background-color: #fdb912;
}

.energy_saving-icon.c::after {
    border-left-color: #fdb912;
}

.energy_saving-icon.d {
    background-color: #f37020;
}

.energy_saving-icon.d::after {
    border-left-color: #f37020;
}

.energy_saving-icon.e {
    background-color: #ed1c24;
}

.energy_saving-icon.e::after {
    border-left-color: #ed1c24;
}

.energy_saving-icon.f {
    background-color: #ed1c24;
}

.energy_saving-icon.f::after {
    border-left-color: #ed1c24;
}

.energy_saving-icon.g {
    background-color: #ed1c24;
}

.energy_saving-icon.g::after {
    border-left-color: #ed1c24;
}

.advantages_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.advantages_title {
    font-size: 16px;
    font-weight: 600;
    padding-right: 20px;
}

.advantages_header .advantages_icon {
    flex: 0 0 165px;
    color: var(--base-color-5);
    font-size: 11px;
    display: flex;
    align-items: center;

}

.advantages_header .advantages_icon .icon {
    flex: 0 0 30px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    fill: var(--base-color-5);
}

.advantages ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 24px;
}

.advantages ul a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages ul a img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 5px;
}

.advantages ul a span {
    font-size: 11px;
    text-align: center;
    color: var(--base-color-7);
}

.video_slider {
    margin-bottom: 60px;
}

.video_slider-header {
    display: flex;
    margin-bottom: 15px;
}

.video_slider.big_video-slider .video_slider-header {
    position: relative;
}

.video_slider-header .col {
    display: flex;
    flex-direction: column;
}

.video_slider-header .details_desc-title::before {
    width: calc(100% - 34px);
}

.video_slider-header .btn {
    display: none;
}

.video_slider-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.video_slider-subtitle {
    font-size: 13px;
    color: var(--text-light);
}

.video_swiper {
    margin-right: -15px;
    width: calc(100% + 15px);
}

.video_swiper .slider_arrow {
    display: none;
    margin-top: -18px;
}

.video_swiper .custom-scrollbar {
    margin-right: 15px;
    margin-bottom: 0;
}

.video_swiper-item {
    text-decoration: none;
    color: var(--text-color);
    font-size: 11px;
    font-weight: 600;
    width: 215px;
    transition: 0.3s;
}

.video_swiper-item:hover {
    color: var(--main-color-1);
}

.video_swiper-img {
    margin-bottom: 5px;
    height: 125px;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.video_swiper-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.video_swiper-img .play-btn {
    display: flex;
    border-radius: 50%;
    background-color: var(--main-color-1);
    width: 56px;
    height: 56px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.video_swiper-img .play-btn::before {
    content: "";
    width: 80px;
    height: 80px;
    background-color: var(--main-color-1);
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

.video_swiper-img .play-btn .icon {
    fill: var(--base-color-1);
    margin: 20px 0 0 22px;
    width: 16px;
    height: 16px;
}

.video_swiper + .btn {
    margin-top: 20px;
}

.details_spec {
    margin-bottom: 60px;
}

.details_spec-header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}

.details_desc-title {
    font-size: 20px;
    font-weight: 600;
    background-color: var(--base-color-1);
    margin-bottom: 5px;
    padding-right: 10px;
    width: max-content;
}

.details_desc-title::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 23px;
    left: 0;
    background-color: var(--base-color-3);
    z-index: -1;
}

.details_desc-subtitle {
    font-size: 13px;
    color: var(--text-light);
}

.details_spec-section {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.details_spec ul + .details_spec-section {
    margin-top: 10px;
}

.details_spec li {
    padding: 10px;
    border-radius: var(--border-radius);
    display: flex;
}

.details_spec li:nth-child(2n + 1) {
    background-color: var(--base-color-2);
}

.details_spec li span {
    width: 60%;
    color: var(--base-color-7);
}

.details_spec li b {
    text-align: end;
    padding-left: 10px;
    width: 40%;
    font-weight: 400;
    color: var(--text-color);
}

.cat_article-header {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15px;
}

.video_grid {
    margin-bottom: 60px;
}

.interior_details-header {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

.interior_details-header .col {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.interior_details-header .details_desc-title::before {
    width: calc(100% - 34px);
}

.interior_swiper .slider_arrow {
    display: none;
    margin-top: -25px;
}

.interior_image {
    display: block;
    width: 100%;
    height: auto;
}

.interior_image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.interior_swiper .swiper-pagination.slider_pag .swiper-pagination-bullet {
    background-color: var(--main-color-6);
}

.interior_swiper .swiper-pagination.slider_pag .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--main-color-1);
}

.cat_details-description > .centre > .col-2 {
    display: none;
}