/*TWO COL FORM*/
.two_col_form {
    padding-top: 40px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 80px;
    color: var(--text-contrast);
}

.interior + .two_col_form {
    margin-top: -80px;
}

.interior + .two_col_form::before {
    content: "";
    width: 100%;
    height: 50%;
    background-color: var(--base-color-8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.two_form-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    max-width: 1600px;
    z-index: -1;
}

.two_form-bg img {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(0.8);
    border-radius: 40px;
    object-fit: cover;
}

.two_col_form .centre > .col-1{
    display: flex;
    flex-direction: column;
}

.two_form-header {
    color: var(--base-color-5);
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.two_col_form .headline_2 b {
    position: relative;
}

.two_col_form .headline_2 b::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--main-color-1);
    z-index: -1;
}

.two_form-header .icon {
    flex: 0 0 40px;
    height: 40px;
    margin-right: 15px;
}

.two_form-header span {
    flex: 1 1 auto;
}

.two_form-text {
    font-size: 14px;
    color: var(--base-color-2);
}

.two_col_form .phone_form .input_wrap {
    margin-bottom: 10px;
}

.two_col_form .phone_form .btn {
    margin-bottom: 8px;
}